<!--
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="ddp-ui-headright">
  <!--<a href="javascript:" class="ddp-btn-search"></a>-->
  <div class="ddp-wrap-myinfo" [ngClass]="{'ddp-selected' : isMyInfoShow}" (click)="isMyInfoShow = !isMyInfoShow;" (clickOutside)="isMyInfoShow=false;">
    <a href="javascript:" class="ddp-data-photo">
      <img [src]="getUserImage()" />
    </a>
    <!-- my info -->
    <div class="ddp-ui-sub-myinfo">
      <div class="ddp-wrap-data">
        <span class="ddp-data-name">{{user.fullName}}</span>
        <span class="ddp-data-mail">{{user.email}}</span>
      </div>

      <ul class="ddp-list-sub-myinfo">
        <li>
          <a href="javscript:" (click)="userProfile()">
            <span class="ddp-txt-list">
                <em class="ddp-icon-info-profile"></em>{{'msg.comm.menu.profile' | translate}}
            </span>
          </a>
        </li>
        <li>
          <a href="javscript:" class="ddp-cursor-default" (click)="$event.stopImmediatePropagation();">
            <span class="ddp-txt-list">
                <em class="ddp-icon-info-language"></em>{{'msg.comm.menu.lang' | translate}}
            </span>
          </a>
          <div class="ddp-hover-status" [ngClass]="{'ddp-selected' : isLanguageShow}">
            <!-- inactive 일때 ddp-inactive 추가 -->
            <span class="ddp-status-active ddp-inactive" (click)="isLanguageShow = !isLanguageShow;$event.stopImmediatePropagation();" (clickOutside)="isLanguageShow=false;">{{'msg.comm.menu.lang.' + getCurrentLang() | translate}}<em class="ddp-icon-view"></em></span>
            <!-- popup -->
            <div class="ddp-wrap-popup2">
              <ul class="ddp-list-popup">
                <!-- <li [ngClass]="{'ddp-selected' : getCurrentLang() == 'ko'}" (click)="changeLanguage('ko');$event.preventDefault();">
                  <a href="#">
                    {{'msg.comm.menu.lang.ko' | translate}}
                    <em class="ddp-icon-check"></em>
                  </a>
                </li> -->
                <li [ngClass]="{'ddp-selected' : getCurrentLang() == 'en'}" (click)="changeLanguage('en');$event.preventDefault();">
                  <a href="#">
                    {{'msg.comm.menu.lang.en' | translate}}
                    <em class="ddp-icon-check"></em>
                  </a>
                </li>
                <li [ngClass]="{'ddp-selected' : getCurrentLang() == 'ar'}" (click)="changeLanguage('ar');$event.preventDefault();">
                  <a href="#">
                    {{'msg.comm.menu.lang.ar' | translate}}
                    <em class="ddp-icon-check"></em>
                  </a>
                </li>
              </ul>
            </div>
            <!-- //popup -->
          </div>
        </li>
        <li>
          <a href="javascript:" class="ddp-cursor-default" (click)="$event.stopImmediatePropagation();">
            <span class="ddp-txt-list">
                <em class="ddp-icon-info-theme"></em>
                {{'msg.comm.menu.theme' | translate}}
            </span>
          </a>
          <div class="ddp-theme-check">
            <label class="theme-check ">
              <input type="checkbox" [checked]="!isThemeDark()">
              <i (click)="themeCheckboxClick(constTheme.WHITE);$event.preventDefault();"></i>
            </label>
            <label class="theme-check type-dark">
              <input type="checkbox" [checked]="isThemeDark()">
              <i (click)="themeCheckboxClick(constTheme.DARK);$event.preventDefault();"></i>
            </label>
          </div>
        </li>
      </ul>
      <div class="ddp-ui-part"><a href="javascript:" (click)="logout();">{{'msg.comm.menu.logout' | translate}}</a></div>
    </div>
    <!-- //my info -->
  </div>

</div>

<app-profile (completeUpdate)="updatedUser($event)"></app-profile>
