<!--
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<div [ngClass]="['ddp-ui-contents-det', 'ddp-padt20']">

  <div class="ddp-wrap-top-filtering">
    <!-- filter search -->
    <div class="ddp-filter-search ddp-fright">
      <div class="ddp-form-filter-search">
        <component-input
          [autoFocus]="false"
          [isEnableDelete]="true"
          [value]="searchKeyword"
          [placeHolder]="'msg.engine.monitoring.ph.datasource.search' | translate"
          [immediately]="true"
          (changeValue)="onChangedSearchKeyword($event)">
        </component-input>
      </div>
    </div>
    <!-- //filter search -->
    <!-- filters -->
    <component-criterion [criterionApiFunc]="criterionApiFunc"
                         (changedFilter)="onChangedFilter($event)">
    </component-criterion>
    <!-- //filters -->
  </div>

  <div class="ddp-data-source-none" *ngIf="isEmptyList(); else existList">
    {{'msg.comm.ui.no.rslt' | translate}}
  </div>

  <ng-template #existList>
  <table class="ddp-table-form ddp-table-type3">
    <colgroup>
      <col width="*">
      <col width="150px">
      <col width="250px">
      <col width="150px">
      <col width="150px">
      <col width="150px">
    </colgroup>
    <thead>
    <tr>
      <th>
        Datasource name
      </th>
      <th>
        Status
      </th>
      <th>
        Time
      </th>
      <th>
        Size
      </th>
      <th>
        Available Segment
      </th>
      <th>
        Num of Rows
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let datasource of datasourceList" [class.ddp-disabled]="datasource.disabled" (click)="onClickDatasource(datasource)">
      <td>
        {{datasource.datasource}}
      </td>
      <td>
        <span class="ddp-txt-status type-{{getDatasourceStatus(datasource)}}">{{getDatasourceStatusLabel(datasource)}}</span>
      </td>
      <td>
        {{datasource.disabled ? '' : (datasource.segments.minTime | date : 'yyyy-MM-ddTHH' : 'UTC') + ' ~ ' + (datasource.segments.maxTime | date : 'yyyy-MM-ddTHH' : 'UTC')}}
      </td>
      <td>
        {{datasource.disabled ? '' : getDatasourceSize(datasource)}}
      </td>
      <td>
        {{datasource.disabled ? '' : datasource.num_available_segments | numberCommas}}
      </td>
      <td>
        {{datasource.disabled ? '' : datasource.num_rows | numberCommas}}
      </td>
    </tr>

    </tbody>

  </table>
  <!-- Pagination -->
  <component-pagination [info]="pageResult" (changePageData)="changePage($event)"></component-pagination>
  <!-- // Pagination -->
  </ng-template>
</div>
