@charset "utf-8";
/* CSS Document */

/************************************************************************************************************

	1. class명 정의

	(Project)-(Type)-(Name)

	xx-ui-xxx       : 기본 (아래 유형에 없는 경우)

	xx-layout-xxx   : 레이아웃
	xx-fixed-xxx    : 고정
	xx-wrap-xxx     : Wrap

	xx-layer-xxx    : 레이어 팝업
	xx-table-xxx    : 테이블
	xx-box-xxx      : 박스
	xx-list-xxx     : 목록
	xx-form-xxx     : Form형태 (입력, 수정, 로그인)
	xx-btn-xxx      : 버튼
	xx-icon-xxx     : 아이콘
	xx-img-xxx      : 이미지
	xx-bg-xxx       : 배경 이미지, 배경색
	xx-color-xxx    : 텍스트 색상
	xx-type-xxx     : 구분 (클래스 명이 같은 경우 type 클래스를 사용하여 구분)
	xx-status-xxx   : 상태값
	xx-data-xxx     : Data 값

	xx-input-xxx    : Input box
	xx-select-xxx   : Select box
	xx-textarea-xxx : Textarea
	xx-checkbox     : Checkbox
	xx-radio        : Radio

	xx-nodata       : 데이터 없는 경우
	xx-loading      : 로딩바

	xx-selected     : 선택, 활성
	xx-disabled     : 비활성

	2. css 작성 순서
	.class {display position left right top bottom float width height margin padding ... border background overflow z-index}
	.class {
		-webkit-border-radius:;
		-moz-border-radius:;
		-o-border-radius:;
		-ms-border-radius:;
		border-radius:;
	}

	* '...' 부분은 자유 배치


************************************************************************************************************/

/************************************************************************************************************
   Web Font
************************************************************************************************************/


@font-face {
    font-family:"SpoqaHanSans";
    src: url("../fonts/SpoqaHanSans-Bold.eot");
    src: url("../fonts/SpoqaHanSans-Bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SpoqaHanSans-Bold.woff") format("woff"),
         url("../fonts/SpoqaHanSans-Bold.ttf") format("truetype");
    font-weight:bold;
    font-style:normal;

}
@font-face {
    font-family:"SpoqaHanSans";
    src: url("../fonts/SpoqaHanSans-Regular.eot");
    src: url("../fonts/SpoqaHanSans-Regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SpoqaHanSans-Regular.woff") format("woff"),
         url("../fonts/SpoqaHanSans-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:"SpoqaHanSans";
    src: url("../fonts/SpoqaHanSans-Thin.eot");
    src: url("../fonts/SpoqaHanSans-Thin.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SpoqaHanSans-Thin.woff") format("woff"),
         url("../fonts/SpoqaHanSans-Thin.ttf") format("truetype");
    font-weight:300;
    font-style:normal;
}

/***********************************************************************************************************
	기본설정
************************************************************************************************************/
* {margin:0; padding:0; font-family:'SpoqaHanSans',sans-serif; box-sizing:content-box; line-height:1.3em; }
*:focus {outline : none;}
html,body{width:100%; height:100%; min-width:1200px; line-height:1.3em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    background-color: #fff;}

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {margin:0; padding:0; font-size:12px; color:#4b515b;}
body {font-size:12px; background-color:#fff;}
header,footer,nav {display:block;}
ul,ol {list-style:none;}
img,button {border:0 none; font-family:'SpoqaHanSans', sans-serif;}
table {width:100%; border-spacing:0px; border-collapse:separate;}
em {font-style:normal;}
a,u,a:hover {text-decoration:none; color:#707070;}
a {outline:0;}
textarea {resize:none;}
input,select,textarea {outline:none; box-shadow:none;}
input {line-height:1.3em; word-break:keep-all; font-family:sans-serif;}
input::-ms-clear {display: none;}
input::placeholder {color:#b7b9c2; font-family:sans-serif; line-height:1.3em;}
input::-webkit-input-placeholder {color:#b7b9c2; font-family:sans-serif; line-height:1.3em;}
input:-ms-input-placeholder {color:#b7b9c2; font-family:sans-serif; line-height:1.3em;}

input[type="file"] {cursor:pointer;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none; margin:0;}
input[type=number]{ -moz-appearance: textfield;}
body * {word-break:keep-all; word-wrap:break-word; text-shadow:none;}
label {margin-bottom:0px; font-weight:normal;}
button:focus {outline:none;}
label {max-width:inherit;}
pre {padding:0px; margin:0px; border:none; background:none; border-radius:0px;}
pre code {background:none;}
body.body-hidden {overflow:hidden;}
/*body.ddp-body {background-color:#e7e7ea}*/
em.ddp-bg-back {display:block; position:fixed; left:0; right:0; bottom:0; top:0; background-color:#e7e7ea;}
em.ddp-bg-back.type-bg {background-color:#eff1f4;}
em[class*="ddp-icon-"] {font-size:0px; vertical-align: middle;}
textarea::-webkit-input-placeholder {color: #a7adb2;}
textarea:-moz-placeholder {color: #a7adb2;}
textarea::-moz-placeholder {color: #a7adb2;}
textarea:-ms-input-placeholder {color: #a7adb2;}

/********************************************************************************
	scrollbar
********************************************************************************/
::-webkit-scrollbar {
    width:18px;
    height:17px;
}

::-webkit-scrollbar-track {
    /*background:#f1f1f1;*/
    background:#f9f9f9;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
    /*border:4px solid #f1f1f1;*/
    border:4px solid #f9f9f9;
    background:#d0d1d8;
}

.ddp-ui-tablelist::-webkit-scrollbar-track {background-color:#35393f;}
.ddp-ui-tablelist::-webkit-scrollbar-thumb {border-color:#35393f;}

/***********************************************************************************************************
	col
************************************************************************************************************/
[class*="ddp-col-"] {
   float:left;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   -o-box-sizing:border-box;
   -ms-box-sizing:border-box;
   box-sizing:border-box;
}

.ddp-col-12 {width:100%;}
.ddp-col-11 {width:91.66666667% !important;}
.ddp-col-10 {width:83.33333333% !important;}
.ddp-col-9 {width:75% !important;}
.ddp-col-8  {width:66.66666667% !important;}
.ddp-col-7 {width:58.33333333% !important;}
.ddp-col-6 {width:50% !important;}
.ddp-col-5 {width:41.66666667% !important;}
.ddp-col-4 {width:33.33333333% !important;}
.ddp-col-3 {width:25% !important;}
.ddp-col-2 {width:16.66666667% !important;}
.ddp-col-1 {width:8.33333333% !important;}

.ddp-part20 {float:left; width:20%;}
.ddp-part80 {float:left; width:80%;}
.ddp-clear:before,
.ddp-clear:after {display:table; content:'';}
.ddp-clear:after {clear:both;}

/***********************************************************************************************************
    HEADER
************************************************************************************************************/
.ddp-layout-wrap {height:100%;}
.ddp-layout-header {position:fixed; left:0; right:0; top:0; height:55px; border-top:1px solid #fff; border-bottom:1px solid #d7d9de; background-color:#fff; z-index:125; box-sizing:border-box;}

.ddp-layout-header .ddp-ui-headright {position:absolute; top:0; right:22px; z-index:31;}
.ddp-layout-header .ddp-wrap-myinfo {float:left; position:relative;}

.ddp-layout-header .ddp-ui-searcing {position:relative; float:left; width:20px; background:none; padding:0;margin-top:9px; height:37px; margin-right:15px; box-sizing:border-box;}
.ddp-layout-header .ddp-ui-searcing.ddp-selected {width:476px; padding:0 15px 0 45px;background-color:#f6f6f7;}

.ddp-layout-header .ddp-ui-searcing .ddp-box-search {display:none;}
.ddp-layout-header .ddp-ui-searcing.ddp-selected .ddp-box-search {display:block;}
.ddp-layout-header .ddp-ui-searcing .ddp-box-search.ddp-enter-ing {padding-right:20px;}
.ddp-layout-header .ddp-ui-searcing .ddp-box-search.ddp-enter-finish {padding-right:60px;}

.ddp-layout-header .ddp-ui-searcing .ddp-box-search.ddp-enter-ing .ddp-ui-buttons .ddp-btn-remove {display:block;}

.ddp-layout-header .ddp-ui-searcing .ddp-box-search.ddp-enter-finish .ddp-ui-buttons .ddp-btn-remove,
.ddp-layout-header .ddp-ui-searcing .ddp-box-search.ddp-enter-finish .ddp-ui-buttons .ddp-btn-refresh {display:block;}

.ddp-layout-header .ddp-ui-searcing .ddp-box-search .ddp-ui-buttons {position:absolute; top:12px; right:14px;}
.ddp-layout-header .ddp-ui-searcing .ddp-box-search .ddp-ui-buttons .ddp-btn-refresh {display:none; float:left; width:14px; height:13px; background:url(../images/btn_refresh.png) no-repeat; background-position:left -34px;}
.ddp-layout-header .ddp-ui-searcing .ddp-box-search .ddp-ui-buttons .ddp-btn-refresh:hover {background-position:-15px -34px;}

.ddp-layout-header .ddp-ui-searcing .ddp-box-search .ddp-ui-buttons .ddp-btn-remove {display:none;; position:relative; top:1px; float:left; margin-left:10px; width:11px; height:11px; background:url(../images/btn_close.png) no-repeat; background-position:-12px -58px;}
.ddp-layout-header .ddp-ui-searcing .ddp-box-search .ddp-ui-buttons .ddp-btn-remove:hover {background-position:left -58px;}

.ddp-layout-header .ddp-ui-searcing a.ddp-btn-search {display:inline-block; position:absolute; top:50%; left:14px; margin-top:-10px; width:20px; height:20px; background:url(../images/btn_search.png) no-repeat; box-sizing:border-box;}
.ddp-layout-header .ddp-ui-searcing input {display:block; padding:10px 0 9px 0; width:100%; border:none; background:none; font-size:14px;}
.ddp-layout-header .ddp-ui-searcing input::placeholder {color:#90969f;}
.ddp-layout-header .ddp-ui-searcing .ddp-box-popup {top:44px; left:0; right:0; margin:0; width:inherit; height:inherit; max-height:486px; overflow:auto;}
.ddp-layout-header .ddp-ui-searcing .ddp-box-popup span.ddp-label-type {display:block; padding:10px 20px; color:#b7b9c2; font-size:12px;}
.ddp-layout-header .ddp-ui-searcing .ddp-box-popup ul.ddp-list-lately li a {display:block; position:relative; padding: 12px 77px 12px 20px; color:#4b515b; font-size:14px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; word-wrap: normal;}
.ddp-layout-header .ddp-ui-searcing .ddp-box-popup ul.ddp-list-lately li a .ddp-data-date {position:absolute; top:13px; right:20px; color:#b7b9c2; font-size:12px;}
.ddp-layout-header .ddp-ui-searcing .ddp-box-popup ul.ddp-list-lately li a:hover {background-color:#f6f6f7;}
.ddp-layout-header .ddp-ui-searcing .ddp-box-popup ul.ddp-list-lately li a strong {color:#666db7; font-weight:normal;}
.ddp-layout-header a.ddp-data-photo {display:inline-block; float:left; width:34px; height:34px; margin:10px 0 0 22px; border-radius:50%; overflow:hidden;}
.ddp-layout-header a.ddp-data-photo img {width:100%; height:100%;}

.ddp-layout-header .ddp-wrap-myinfo.ddp-selected .ddp-ui-sub-myinfo {display:block;}
.ddp-ui-sub-myinfo {display:none; position:absolute; top:50px; right:0; width:280px; background-color:#fff; z-index:30; white-space:nowrap; border:1px solid #dcdfe1; box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);}
.ddp-ui-sub-myinfo .ddp-wrap-data {padding:20px 30px 0 30px; background-color:#4d527d;}
.ddp-ui-sub-myinfo .ddp-data-name {display:block; font-size:16px; color:#fff; font-weight:bold;}
.ddp-ui-sub-myinfo span.ddp-data-team {display:block; padding-bottom:10px;  color:#9c9c9c; font-size:13px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.ddp-ui-sub-myinfo span.ddp-data-mail {display:block; padding-bottom:22px;color:#c1cef1; font-size:13px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo {padding:15px 0;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li {position:relative; float:inherit;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li a {display:block; position:relative; width:100%; height:inherit; padding:10px 0 10px 27px; margin:0; color:#444; font-size:14px; line-height:1.3em; overflow:inherit; box-sizing:border-box;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li:hover a { font-weight:bold; background:none;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo > li:hover > a:before {display:inline-block; position:absolute; top:50%; left:0; margin-top:-10px; height:20px; width:3px; background:#666eb2; content:'';}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li .ddp-hover-status {position:absolute; top:12px; right:30px;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li .ddp-hover-status .ddp-status-active {font-weight:normal;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li ul.ddp-list-popup li {padding:0;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li ul.ddp-list-popup li a {padding:4px 30px 4px 14px; border-left:none; font-weight:normal;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li ul.ddp-list-popup li a:hover {font-weight:normal; background-color:#f6f6f7;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li a .ddp-txt-list {display:block; position:relative; padding-left:22px;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo > li > a [class*="ddp-icon-"]{display:inline-block; position:absolute; top:50%; left:0; background:url(../images/icon_userinfo.png) no-repeat;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li a .ddp-icon-info-profile {width:12px; height:12px; margin-top:-6px;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li a .ddp-icon-info-language {width:15px; height:15px; margin-top:-8px; background-position:left -13px;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li a .ddp-icon-info-theme {width:11px; height:13px; margin-top:-7px; background-position:left -26px;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li .ddp-theme-check {position:absolute; top:50%; right:32px; margin-top:-8px;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li .ddp-theme-check label {float:left; margin-left:8px;cursor:pointer;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li .ddp-theme-check label i {display:inline-block; position:relative; width:16px; height:16px; background-color:#666eb2;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li .ddp-theme-check label.type-dark i {background-color:#4b515b;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li .ddp-theme-check label input {display:none;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li .ddp-theme-check label input[type='checkbox']:checked + i:before {display:inline-block; width:11px;height:8px; position:absolute; top:50%; left:50%; background:url(../images/icon_select2.png) no-repeat; background-position:-27px top; margin:-4px 0 0 -6px; content:'';}
.ddp-ui-sub-myinfo .ddp-ui-part {border-top:1px solid #e7e7ea;}
.ddp-ui-sub-myinfo .ddp-ui-part a {position:relative; display:block; padding:15px 27px; color:#4b515b; font-size:14px;}
.ddp-ui-sub-myinfo .ddp-ui-part a:hover {font-weight:bold;}
.ddp-ui-sub-myinfo .ddp-ui-part a:hover:before {display:inline-block; position:absolute; top:50%; left:0; margin-top:-10px; height:20px; width:3px; background:#666eb2; content:'';}
.ddp-layout-contents {position:relative;height:100%;padding:54px 0 0 0;box-sizing:border-box;}
.ddp-layout-contents .ddp-ui-contents-in {position:relative; padding:0 80px;}
.ddp-layout-contents .ddp-ui-contents-in.ddp-scroll {position:relative; height:100%; box-sizing:border-box;}
.ddp-layout-contents .ddp-ui-contents-in.ddp-scroll .ddp-ui-contents-list {position:absolute; top:113px; left:0; right:0; bottom:0; padding:0 80px 50px 80px; box-sizing:border-box; overflow:auto;}
.ddp-layout-contents .ddp-ui-contents-in.ddp-scroll .ddp-ui-contents-list.type-list {top:54px;}
.ddp-layout-contents .ddp-ui-contents-in.ddp-scroll .ddp-ui-contents-list .ddp-type-top-option .ddp-type-search input::placeholder {color:#90969f;}
.ddp-layout-contents2 {position:relative; width:100%; height:100%; padding:47px 0 0 0; margin-top:-48px; box-sizing:border-box;}
.ddp-layout-contents-in {position:relative;}
.ddp-ui-contentsin {position:absolute;top:54px;left:0;right:0;bottom:0;}
.ddp-ui-contentsin.ddp-full {top:48px;}
.ddp-layout-contents.ddp-type {padding-top:0px; z-index:65;}
.ddp-layout-contents.ddp-type .ddp-ui-contentsin{top:0;z-index: 127;}

/***********************************************************************************************************
    검색결과
************************************************************************************************************/
.ddp-wrap-search-result {position:fixed; left:0; right:0; bottom:0; top:54px; background-color:#e7e6ea; z-index:59;}
.ddp-wrap-search-result .ddp-ui-search-filter {position:absolute; top:0; left:0; bottom:0; padding-top:25px; width:239px;overflow:auto; overflow-x:hidden; }

.ddp-wrap-search-result .ddp-ui-search-filter::-webkit-scrollbar-track {background:#e7e6ea;}
.ddp-wrap-search-result .ddp-ui-search-filter::-webkit-scrollbar-thumb {border:4px solid #e7e6ea;}
.ddp-wrap-search-result .ddp-ui-search-filter .ddp-data-filter {padding:40px 0 0 22px;}
.ddp-wrap-search-result .ddp-ui-search-filter .ddp-data-filter:first-of-type {padding-top:0px;}
.ddp-wrap-search-result .ddp-ui-search-filter .ddp-data-filter .ddp-ui-filter-title  {display:block; padding-bottom:10px; color:#90969f; font-size:12px;}

.ddp-ui-search-filter .ddp-data-filter ul.ddp-list-checktype {padding-left:10px;}
.ddp-ui-search-filter .ddp-data-filter ul.ddp-list-checktype li {padding:7px 0;}
.ddp-ui-search-filter .ddp-data-filter ul.ddp-list-checktype li label .ddp-txt-checkbox {color:#4b515b; font-size:13px;}
.ddp-ui-search-filter .ddp-data-filter ul.ddp-list-checktype li label .ddp-txt-checkbox em.ddp-data-num {color:#90969f; font-size:13px;}

.ddp-wrap-search-result .ddp-ui-search-result {position:absolute; top:0; left:239px; right:0; bottom:0; padding:25px 22px 20px 0; overflow:auto;}
.ddp-wrap-search-result .ddp-ui-search-result::-webkit-scrollbar-track {background:#e7e6ea;}
.ddp-wrap-search-result .ddp-ui-search-result::-webkit-scrollbar-thumb {border:4px solid #e7e6ea;}
.ddp-ui-search-result .ddp-data-result {display:block; padding-bottom:7px; color:#90969f; font-size:12px; }
.ddp-ui-search-result .ddp-data-result span.ddp-data-num {margin-left:7px; color:#4b515b; font-size:12px;}
.ddp-ui-search-result ul.ddp-list-search-result {border:1px solid #ddd;}
.ddp-ui-search-result ul.ddp-list-search-result {background-color:#fff;}
.ddp-ui-search-result ul.ddp-list-search-result li {padding-left:97px; cursor:pointer;}
.ddp-ui-search-result ul.ddp-list-search-result li:hover {background-color:#f6f6f7;}
.ddp-ui-search-result ul.ddp-list-search-result li:hover .ddp-wrap-navigation {background-color:#f6f6f7;}
.ddp-ui-search-result ul.ddp-list-search-result li .ddp-wrap-navigation{float:right; padding-right:25px; background-color:#fff;}
.ddp-ui-search-result ul.ddp-list-search-result li .ddp-wrap-navigation span.ddp-data-navigation {position:relative; padding:0 9px 0 14px;}
.ddp-ui-search-result ul.ddp-list-search-result li .ddp-wrap-navigation span.ddp-data-navigation:before {display:inline-block; content:''; position:absolute; top:50%; left:0; margin:-4px 0 0 0; width:4px; height:7px; background:url(../images/icon_dataview.png) no-repeat; background-position:left -11px;}
.ddp-ui-search-result ul.ddp-list-search-result li .ddp-wrap-navigation span.ddp-data-navigation:first-of-type:before {display:none;}
.ddp-ui-search-result ul.ddp-list-search-result li .ddp-data-type {position:absolute; left:0; top:0; bottom:0; width:97px; text-align:center;}
.ddp-ui-search-result ul.ddp-list-search-result li .ddp-data-type em.ddp-icon-folder {left:50%; margin-left:-8px;}
.ddp-ui-search-result ul.ddp-list-search-result li .ddp-wrap-tag {padding:11px 0 10px 0;}
.ddp-ui-search-result ul.ddp-list-search-result li .ddp-box-tag {display:inline-block; float:inherit;; margin-right:0; line-height:normal;}

.ddp-ui-search-result ul.ddp-list-search-result li .ddp-wrap-detailname span.ddp-data-detailname.ddp-data-new {position:relative; padding-right:40px; max-width:100%; box-sizing:border-box; }
.ddp-ui-search-result ul.ddp-list-search-result li .ddp-wrap-detailname span.ddp-data-detailname em.ddp-icon-new {display:none;}
.ddp-ui-search-result ul.ddp-list-search-result li .ddp-wrap-detailname span.ddp-data-detailname strong {font-weight:normal; color:#666db7;}
.ddp-ui-search-result ul.ddp-list-search-result li .ddp-wrap-detailname span.ddp-data-detailname.ddp-data-new em.ddp-icon-new {display:block; position:absolute; top:50%; right:0; margin-top:-6px; line-height:normal; background-color:#fff;}
.ddp-ui-search-result ul.ddp-list-search-result li:hover .ddp-wrap-detailname span.ddp-data-detailname.ddp-data-new em.ddp-icon-new{background-color:#f6f6f7;}
.ddp-ui-search-result ul.ddp-list-search-result li .ddp-wrap-detailname span.ddp-data-summary {margin-left:5px;}

/***********************************************************************************************************
    LNB
************************************************************************************************************/
.ddp-layout-lnb {position:fixed; left:0; top:0; width:0;border-right:2px solid #4c515a; box-sizing:border-box; text-indent:-30000px;}
.ddp-layout-lnb a.ddp-btn-lnbmenu {display:inline-block; position:absolute; top:0; left:0; width:49px; height:55px;}
.ddp-layout-lnb a.ddp-btn-lnbmenu:before {display:inline-block; content:''; position:absolute; top:50%; left:23px; margin:-6px 0 0 0; width:16px; height:12px; background:url(../images/btn_lnbmenu.png) no-repeat;}
.ddp-layout-lnb .ddp-h1-logo {position:absolute;top:21px; left:52px; text-indent:0;}
.ddp-layout-lnb .ddp-h1-logo a {display:inline-block; width:204px; height:14px;}
.ddp-layout-lnb .ddp-h1-logo a svg {height:100%;}
.ddp-layout-lnb .ddp-h1-logo a .st10{fill:#646C77;}
.ddp-layout-lnb .ddp-h1-logo a .st11{fill:#C3C7D2;}
.ddp-layout-lnb.ddp-selected .ddp-h1-logo a .st10{fill:#989EA6;}
.ddp-layout-lnb.ddp-selected .ddp-h1-logo a .st11{fill:#595F6A;}

.ddp-layout-lnb.ddp-selected {position:fixed; left:0; top:0; bottom:0; width:288px; background-color:#35393f; text-indent:0;}
.ddp-layout-lnb.ddp-selected a.ddp-btn-lnbmenu:before {background-position:left -13px;}
.ddp-layout-lnb.ddp-selected ul.ddp-list-lnb {display:block;}

ul.ddp-list-lnb {display:none; position:absolute; top:55px; left:0; right:0; bottom:174px; overflow-y:auto;}

ul.ddp-list-lnb::-webkit-scrollbar-track {background:#3f4349;}
ul.ddp-list-lnb::-webkit-scrollbar-thumb {border:4px solid #3f4349; background-color:#6d7179;}
ul.ddp-list-lnb li .ddp-wrap-listmenu {position:relative;}
ul.ddp-list-lnb li .ddp-wrap-listmenu:after {display:inline-block; content:''; position:absolute; bottom:0; left:0; right:0; border-bottom:1px solid #3e434b;}
ul.ddp-list-lnb li a {display:block; position:relative;}
ul.ddp-list-lnb li a span.ddp-txt-lnbmenu {display:block; margin:0 0 0 23px; padding:23px 44px 23px 0; font-size:16px; color:#8a8f9b; font-weight:bold;}
ul.ddp-list-lnb li a span.ddp-tag-beta {display:inline-block; position:relative; top:2px; padding:0 4px; margin-left:3px; border-radius: 2px; border: solid 1px #909ae5; font-size:11px; font-weight:normal; color:#909ae5; vertical-align:top;}
ul.ddp-list-lnb li.ddp-selected a span.ddp-txt-lnbmenu {color:#e7e7ea;}
ul.ddp-list-lnb li a span.ddp-txt-lnbmenu span.ddp-link-lnbmenu {display:block; font-size:16px; color:#8a8f9b; font-weight:bold;  cursor:pointer;}
ul.ddp-list-lnb li.ddp-selected a span.ddp-txt-lnbmenu span.ddp-link-lnbmenu {color:#e7e7ea;}
ul.ddp-list-lnb li a span.ddp-txt-lnbmenu span.ddp-link-lnbmenu em.ddp-icon-lnbplus {display:inline-block; position:relative; top:2px; float:right; width:14px; height:14px; background:url(../images/icon_lnbplus.png) no-repeat; cursor: pointer; vertical-align: middle; margin-left:6px;}
ul.ddp-list-lnb li a span.ddp-txt-lnbmenu span.ddp-link-lnbmenu em.ddp-icon-lnbplus:hover {background-position:-15px top;}

ul.ddp-list-lnb li a span.ddp-txt-lnbmenu span.ddp-link-lnbmenu em.ddp-icon-move {display:inline-block; width:14px; height:13px; margin-left:5px; background:url(../images/icon_move.png) no-repeat; vertical-align: middle;}
ul.ddp-list-lnb li a span.ddp-txt-lnbmenu em.ddp-icon-plus {background-position:left -14px;}

ul.ddp-list-lnb li a em.ddp-icon-menuview {display:inline-block; position:absolute; top:50%; right:20px; width:11px; height:7px; margin-top:-4px; background:url(../images/icon_menuview.png) no-repeat;}
ul.ddp-list-lnb li.ddp-selected {background-color:#2a2d33}
ul.ddp-list-lnb li.ddp-selected a em.ddp-icon-menuview {display:none;}
ul.ddp-list-lnb li a:hover {background-color:#2a2d33;}
ul.ddp-list-lnb li.ddp-selected .ddp-list-sub {display:block; padding-bottom:19px;}
ul.ddp-list-lnb li .ddp-list-sub {display:none;}
ul.ddp-list-lnb li .ddp-list-sub .ddp-txt-title {display:block; position:relative; padding:10px 40px 10px 56px; font-size:14px; color:#b7b9c2; cursor: pointer;}
ul.ddp-list-lnb li .ddp-list-sub .ddp-txt-title.ddp-selected {font-weight:bold; background-color:#212429;}
ul.ddp-list-lnb li .ddp-list-sub .ddp-txt-title.ddp-selected em.ddp-icon-view {display:block;}

ul.ddp-list-lnb li .ddp-list-sub .ddp-txt-title:hover {background-color:#212429;}
ul.ddp-list-lnb li .ddp-list-sub .ddp-txt-title:hover em.ddp-icon-view {display:block;}
ul.ddp-list-lnb li .ddp-list-sub .ddp-txt-title em.ddp-icon-view {display:none; position:absolute; top:0; right:0; width:35px; height:35px; }
ul.ddp-list-lnb li .ddp-list-sub .ddp-txt-title em.ddp-icon-view:before {display:inline-block; content:''; position:absolute; top:50%; left:50%; margin:-4px 0 0 -2px; width:4px; height:7px; background:url(../images/icon_dataview.png) no-repeat; background-position:left -19px;}
ul.ddp-list-lnb li .ddp-list-sub .ddp-txt-title em.ddp-icon-view:hover {background-color:#181b20;}

ul.ddp-list-lnb li .ddp-list-sub .ddp-txt-title em.ddp-icon-personal {display:inline-block; position:absolute; top:50%; left:30px; width:11px; height:13px; margin-top:-7px; background:url(../images/icon_lnb.png) no-repeat; vertical-align:middle;}

ul.ddp-list-lnb li .ddp-list-sub .ddp-wrap-favorites .ddp-label-type {display:block;padding:25px 23px 5px 23px; font-size:12px; font-weight:bold; color:#6b6e77;}
ul.ddp-list-lnb li .ddp-list-sub .ddp-wrap-favorites .ddp-txt-info {display:block; padding:10px 23px 0 23px;  color:#6b6e77; font-size:13px;}
ul.ddp-list-lnb li .ddp-list-sub .ddp-wrap-favorites .ddp-txt-info .ddp-link-type a {margin:0 -25px;}
ul.ddp-list-lnb li .ddp-list-sub .ddp-link-type {margin:8px 0 0 0; padding:0 25px;}
ul.ddp-list-lnb li .ddp-list-sub .ddp-link-type a {display:block; padding:7px 0 7px 0;color:#90969f; font-size:13px; text-align:center; background-color:#35393f;}
ul.ddp-list-lnb li ul.ddp-list-submenu li {position:relative;}
ul.ddp-list-lnb li ul.ddp-list-submenu li.ddp-disabled {opacity:0.3;}
ul.ddp-list-lnb li ul.ddp-list-submenu li.ddp-disabled:after{display:inline-block; position:absolute; top:0; left:0; right:0; bottom:0; cursor:no-drop; content:'';}
ul.ddp-list-lnb li ul.ddp-list-submenu li a {position:relative; padding-right:35px; height:36px;}
ul.ddp-list-lnb li ul.ddp-list-submenu li a em.ddp-icon-share {display:inline-block; position:absolute; top:50%; left:30px; width:17px; height:12px; margin-top:-6px; background:url(../images/icon_lnb.png) no-repeat; background-position:left -14px;}
ul.ddp-list-lnb li ul.ddp-list-submenu li a em.ddp-icon-view {display:none; position:absolute; top:0; right:0; width:35px; height:35px;}
ul.ddp-list-lnb li ul.ddp-list-submenu li a em.ddp-icon-view:before {display:inline-block; position:absolute; top:50%; left:50%; margin:-4px 0 0 -2px; width:4px; height:7px; background:url(../images/icon_dataview.png) no-repeat; background-position:left -19px; content:'';}
ul.ddp-list-lnb li ul.ddp-list-submenu li a em.ddp-icon-view:hover {background-color:#181b20;}
ul.ddp-list-lnb li ul.ddp-list-submenu li.ddp-selected em.ddp-icon-view {display:block; background-color:#212429;}
ul.ddp-list-lnb li ul.ddp-list-submenu li a:hover {background-color:#212429;}
ul.ddp-list-lnb li ul.ddp-list-submenu li a:hover em.ddp-icon-view {display:block;}
ul.ddp-list-lnb li ul.ddp-list-submenu li a:hover {background-color:#212429;}
ul.ddp-list-lnb li ul.ddp-list-submenu li.ddp-selected a {background-color:#212429;}
ul.ddp-list-lnb li ul.ddp-list-submenu li a span.ddp-data-listmenu {display:inline-block; max-width:100%; position:relative; padding:10px 0 10px 56px; font-size:14px; color:#b7b9c2; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; word-wrap:normal; box-sizing:border-box;}

ul.ddp-list-lnb li ul.ddp-list-submenu li a span.ddp-data-listmenu em.ddp-icon-new {display:none; position:absolute; top:12px; right:0;font-size:10px; color:#919ae3;}
ul.ddp-list-lnb li ul.ddp-list-submenu li a span.ddp-data-listmenu em.ddp-icon-new:before {display:inline-block; position:relative; top:-1px; content:''; width:5px; height:5px; margin-right:4px; border-radius:50%; vertical-align: middle; background-color:#919ae3;}
ul.ddp-list-lnb li ul.ddp-list-submenu li.ddp-selected a span.ddp-data-listmenu {font-weight:bold;}

ul.ddp-list-lnb li ul.ddp-list-submenu li a span.ddp-data-listmenu.ddp-new {padding-right:38px;}
ul.ddp-list-lnb li ul.ddp-list-submenu li a span.ddp-data-listmenu.ddp-new em.ddp-icon-new {display:block;}

ul.ddp-list-lnb li ul.ddp-list-submenu li a .ddp-icon-afav {display:inline-block; width:12px; height:12px; position:absolute; top:50%; right:20px; margin-top:-6px; background:url(../images/icon_fav.png) no-repeat; background-position:left -18px;}
ul.ddp-list-lnb li ul.ddp-list-submenu li a .ddp-icon-afav.ddp-selected {background-position:-13px -18px;}

ul.ddp-list-lnb li ul.ddp-list-sublnb li a {display:block; position:relative; padding:10px 10px 10px 56px; color:#6b6e77; font-size:14px;}
ul.ddp-list-lnb li ul.ddp-list-sublnb li a em.ddp-icon-dot {display:inline-block; position:absolute; top:14px; left:30px; width:10px; height:10px; background:url(../images/icon_lnbdot.png) no-repeat; background-position:left -3px;}
ul.ddp-list-lnb li ul.ddp-list-sublnb li.ddp-selected a {background-color:#212429;}
ul.ddp-list-lnb li ul.ddp-list-sublnb li a em.ddp-icon-data {display:inline-block; position:absolute; top:50%; left:28px; margin-top:-7px; width:12px; height:14px; margin-right:12px; background:url(../images/icon_lnb.png) no-repeat; background-position:left -71px; vertical-align:middle;}

ul.ddp-list-lnb li ul.ddp-list-sublnb li.ddp-selected a em.ddp-icon-dot {top:18px; width:10px; height:2px; background-position:left top;}
ul.ddp-list-lnb li ul.ddp-list-sublnb li a:hover {background-color:#212429;}
ul.ddp-list-lnb li ul.ddp-list-sublnb li ul.ddp-list-sublnb-2depth {display:none;}
ul.ddp-list-lnb li ul.ddp-list-sublnb li.ddp-selected ul.ddp-list-sublnb-2depth {display:block; margin-bottom:10px;}
ul.ddp-list-lnb li ul.ddp-list-sublnb li ul.ddp-list-sublnb-2depth li a {color:#b7b9c2; font-size:14px; background-color:#2a2d33;}
ul.ddp-list-lnb li ul.ddp-list-sublnb li ul.ddp-list-sublnb-2depth li a:hover {background-color:#212429;}

.ddp-layout-lnb .ddp-ui-help {position:absolute; bottom:0; left:0; right:0; padding: 33px 0 5px; background-color:#35393f;}
.ddp-layout-lnb .ddp-ui-help .ddp-label-type {display:block; }
.ddp-layout-lnb .ddp-ui-help .ddp-label-type .ddp-fright {margin-right:20px;}
.ddp-layout-lnb .ddp-ui-help .ddp-label-type .ddp-txt-label {display:inline-block; padding:7px 20px 7px 23px;color:rgba(144,150, 159, 0.6); font-size:12px;}
.ddp-layout-lnb .ddp-ui-help a.ddp-btn-box {display:inline-block; position:relative; padding:6px 9px 6px 24px; margin-left:4px; color:#90969f; font-size:12px; border:1px solid rgba(112, 123, 129, 0.3); border-radius:2px;}
.ddp-layout-lnb .ddp-ui-help a.ddp-btn-box:hover {border:1px solid rgba(112, 123, 129, 1);}
.ddp-layout-lnb .ddp-ui-help a.ddp-btn-box em.ddp-icon-manual,
.ddp-layout-lnb .ddp-ui-help a.ddp-btn-box em.ddp-icon-global {display:inline-block; background:url(../images/icon_lnb.png) no-repeat;}
.ddp-layout-lnb .ddp-ui-help a.ddp-btn-box em.ddp-icon-manual {position:absolute; top:50%; left:7px; margin-top:-7px; width:13px; height:14px;  background-position:left -42px;}
.ddp-layout-lnb .ddp-ui-help a.ddp-btn-box em.ddp-icon-global {position:absolute; top:50%; left:6px; width:13px; height:13px; margin-top:-7px; background-position:left -57px;}
.ddp-data-help {padding:10px 23px 20px 23px;}
.ddp-data-help dl dt {float:left; width:90px; color:#90969f;}
.ddp-data-help dl dd {display:block; overflow:hidden; color:#90969f}
.ddp-data-help dl dd a { color:#90969f;}
.ddp-layout-lnb .ddp-ui-help .ddp-viersion {padding:0 0 20px 23px; font-size:13px; color:#90969f; opacity:0.6;}
.ddp-layout-lnb .ddp-data-help .ddp-label-type {padding:0 0 4px 0; color:rgba(144,150,159,0.6)}
.ddp-layout-lnb .ddp-data-version { padding:0 23px 17px 23px; color:#90969f; font-size:12px;}

    /**************************************************************
        lnb folder
    **************************************************************/
.ddp-wrap-folder-nav {position:fixed; top:54px; left:288px; right:0; bottom:0; padding-top:33px; z-index:30;  white-space:nowrap; overflow-x:auto; font-size:0px; background-color:#fff;}

.ddp-ui-title-nav {position:fixed; top:54px; left:288px; right:0; height:33px; padding-left:18px;  background-color:#90969f; box-sizing:border-box;}

.ddp-list-locate {white-space:nowrap; word-wrap:normal; text-overflow:ellipsis; overflow:hidden; color:#fff; font-size:13px;}
.ddp-list-locate span {position:relative; padding-left:14px; margin-left:8px; line-height:32px;}
.ddp-list-locate span:before {display:inline-block; position:absolute; top:50%; left:0; right:10px; width:4px; height:7px; margin-top:-3px; background:url(../images/icon_dataview.png) no-repeat; background-position:left -11px; content:'';}
.ddp-list-locate span:first-of-type {padding-left:0px; margin-left:0px;}
.ddp-list-locate span:first-of-type:before {display:none;}

.ddp-ui-folder-nav {height:100%; position:relative; z-index:1;}
.ddp-list-folder-nav {display:inline-block; width:210px; height:100%; border-right:1px solid #ccc; background-color:#fff; overflow-y:auto; box-sizing:border-box;}

ul.ddp-list-folder-nav li {position:relative;}
ul.ddp-list-folder-nav li a {display:block; position:relative; padding:4px 24px 5px 40px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; color:#222; font-size:12px;}

ul.ddp-list-folder-nav li.ddp-list-folder a em.ddp-box-view {display:inline-block; width:24px; height:24px;position:absolute; top:0; right:0;}
ul.ddp-list-folder-nav li.ddp-list-folder.ddp-selected a em.ddp-box-view {background-color:#d0d1d8;}
ul.ddp-list-folder-nav li.ddp-list-folder a em.ddp-box-view:before {display:inline-block; content:''; position:absolute; top:50%; left:50%; margin:-4px 0 0 -2px; width:4px; height:7px; background:url(../images/icon_dataview.png) no-repeat; background-position:left -19px;}
ul.ddp-list-folder-nav li.ddp-list-folder a em.ddp-box-view:hover {background-color:#ccc;}

ul.ddp-list-folder-nav li:nth-child(even) a {background-color:#fafafa;}
ul.ddp-list-folder-nav li em[class*="ddp-icon-"] {display:inline-block; position:absolute; top:50%; left:15px; background:url(../images/icon_gnb.png) no-repeat;}
ul.ddp-list-folder-nav li em.ddp-icon-folder {width:15px; height:13px; margin-top:-7px;}
ul.ddp-list-folder-nav li em.ddp-icon-workbook {width:12px; height:14px; background-position:left -14px; margin-top:-7px;}
ul.ddp-list-folder-nav li em.ddp-icon-notebook {width:12px; height:14px; background-position:left -29px; margin-top:-7px;}
ul.ddp-list-folder-nav li em.ddp-icon-workbench {width:13px; height:14px; background-position:left -44px; margin-top:-7px;}

ul.ddp-list-folder-nav li.ddp-selected a,
ul.ddp-list-folder-nav li a:hover {background-color:#e7e7ea}

/**************************************************************
    팝업 레이아웃
**************************************************************/
/* 1 */
.ddp-wrap-layout-popup {display:table; position:fixed; left:0; right:0; bottom:0; top:0; width:100%; height:100%; background-color:rgba(208,209,216,0.5); z-index:126; box-sizing:border-box;  overflow:auto;}

.ddp-wrap-layout-popup.ddp-scroll-popup {display:block; overflow:auto;}
.ddp-wrap-layout-popup.ddp-scroll-popup .ddp-ui-layout-popup {display:table; width:100%; height:100%; text-align:center; }
.ddp-wrap-layout-popup.ddp-scroll-popup .ddp-pop-contents {display:table-cell; width:100%; height:100%;vertical-align:middle;}
/* 2 */
.ddp-box-popup {display:inline-block; position:absolute; top:50%; left:50%; margin:-276px 0 0 -479px; width:958px; height:552px; text-align:left; background-color: #fff;
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.3);
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}
.ddp-box-popup .ddp-pop-title {padding:85px 70px 60px 70px; color:#4b515b; font-size:28px; line-height:40px; font-weight:300; text-align:center;}
.ddp-box-popup .ddp-btn-close {display:inline-block; position:absolute; top:20px; right:20px; width:23px; height:23px; background:url(../images/btn_popclose.png) no-repeat;}
.ddp-box-popup .ddp-ui-buttons {text-align:center;}
.ddp-box-popup .ddp-ui-buttons a[class*="ddp-btn-type-"] {margin:0 3px;}
/* 3 */
.ddp-layout-popuptype {position:fixed; left:0; right:0; bottom:0; top:0; overflow:auto; z-index:126;}
.ddp-layout-popuptype .ddp-ui-popup {position:absolute; top:0; left:50%; bottom:0; width:960px; overflow-y:auto; margin-left:-480px; background-color:#fff; z-index:127;}
.ddp-layout-popuptype .ddp-ui-popup .ddp-ui-popup-title {position:relative; padding:44px 280px 44px 50px; text-align:left; overflow:hidden;}
.ddp-layout-popuptype .ddp-ui-popup .ddp-ui-popup-title .ddp-txt-sub-title {position:absolute; bottom:20px; left:50px; color:#b7b9c2; font-size:13px; font-weight:300;}
.ddp-layout-popuptype .ddp-ui-popup .ddp-ui-popup-title span.ddp-txt-title-name {position:relative; width:100%; line-height:32px; box-sizing:border-box; color:#222; font-size:18px;}
.ddp-layout-popuptype .ddp-ui-popup .ddp-ui-popup-title span.ddp-txt-title-name span.ddp-txt-thin {font-weight:300;}
.ddp-layout-popuptype .ddp-ui-popup .ddp-ui-popup-title span.ddp-txt-title-name .ddp-txt-det {position:relative; padding:0 0 0 14px; margin-left:12px; color:#b7b9c2; font-size:14px;}
.ddp-layout-popuptype .ddp-ui-popup .ddp-ui-popup-title span.ddp-txt-title-name .ddp-txt-det:before {display:inline-block; position:absolute; top:50%; left:0; margin-top:-7px; content:''; height:14px; border-left:2px solid #dbdce0;}
.ddp-layout-popuptype .ddp-ui-popup .ddp-ui-popup-title span.ddp-txt-title-name .ddp-txt-det2 {position:absolute; top:100%; left:0; margin-top:7px; color:#b7b9c2; font-size:14px; white-space:nowrap;}
.ddp-layout-popuptype .ddp-ui-popup .ddp-ui-popup-title .ddp-ui-pop-buttons {position:absolute; top:49px; right:47px; z-index:3;}
.ddp-layout-popuptype .ddp-ui-popup .ddp-ui-popup-title .ddp-ui-pop-buttons .ddp-btn-pop {float:Left;}
.ddp-layout-popuptype .ddp-ui-popup .ddp-ui-popup-title .ddp-ui-pop-buttons .ddp-btn-pop + .ddp-btn-pop {margin-left:4px;}

.ddp-layout-popuptype .ddp-ui-info-det {position:absolute; bottom:20px; left:0; right:0; padding:0 50px;color:#e70000; font-size:14px;}
.ddp-layout-popuptype .ddp-ui-info-det em.ddp-icon-error-info {display:inline-block; margin-right:5px; position:relative; top:-1px; width:15px; height:15px; background:url(../images/icon_info.png) no-repeat;}

.ddp-layout-popuptype.type-flex {display:flex;  justify-content:center; align-items:center; }
.ddp-ui-flex-popup {display:flex;flex-direction:column;width:960px; max-height:100%; position:relative; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); background-color: #fff; z-index:127;
}
.ddp-ui-flex-popup .ddp-pop-title {padding:29px 30px 30px 30px; color:#4b515b; font-size:18px;}
.ddp-ui-flex-popup .ddp-btn-close {display:inline-block; position:absolute; top:29px; right:30px; width:23px; height:23px; background:url(../images/btn_popclose.png) no-repeat;}
.ddp-ui-flex-popup .ddp-pop-contents {flex:auto; padding:0 30px 30px 30px; overflow:auto;}
.ddp-ui-flex-popup .ddp-pop-contents .ddp-table-detail2 {margin-left:-20px}
/* 4 */
.ddp-ui-layout-popup {display:table-cell; position:relative; width:100%; height:100%; text-align:center; vertical-align: middle;}
.ddp-ui-layout-popup .ddp-scroll-popup {width:100%; max-height:100%; overflow:auto;}
.ddp-ui-layout-popup .ddp-box-popup.ddp-popup-type {position:relative; top:0; left:0; margin:0; width:558px; height:auto; background-color:#fff;
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.3);
    box-shadow: 0 0 20px rgba(0,0,0,.3);}

.ddp-ui-layout-popup .ddp-box-popup.ddp-popup-type .ddp-pop-title {padding:85px 0 0 0;}
.ddp-ui-layout-popup .ddp-box-popup.ddp-popup-type .ddp-ui-buttons {padding-bottom:80px;}

.ddp-box-popup3 {display:inline-block; position:relative; top:0; left:0; margin:0; width:958px; height:auto;text-align:center; background-color: #fff;
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.3);
    box-shadow: 0 0 20px rgba(0,0,0,.3);}
.ddp-box-popup3 .ddp-pop-title {padding:80px 0 0 0; min-height:80px; color:#4b515b; font-size:28px; font-weight:300; text-align:center;}
.ddp-box-popup3 .ddp-pop-title .ddp-txt-pop-info {padding:14px 0 0 0;font-size:14px; color:#90969f; font-weight:normal;}

.ddp-box-popup3 .ddp-pop-scroll {margin:17px 0 5px 0; max-height:333px; overflow:auto;}
.ddp-box-popup3 .ddp-btn-close {display:inline-block; position:absolute; top:20px; right:20px; width:23px; height:23px; background:url(../images/btn_popclose.png) no-repeat;}
.ddp-box-popup3 .ddp-box-detail {position:relative; display:inline-block; width:464px; padding:20px 0; text-align:left;}
.ddp-box-popup3 .ddp-box-detail.ddp-type [class*="ddp-wrap-edit"] {margin-top:20px;}
.ddp-box-popup3 .ddp-box-detail.ddp-type [class*="ddp-wrap-edit"]:first-of-type {margin-top:0;}
.ddp-box-popup3 .ddp-box-detail .ddp-ui-high-option {padding:20px 0; text-align:right;}
.ddp-box-popup3 .ddp-box-detail .ddp-ui-high-option .ddp-link-high {text-decoration:underline; }
.ddp-box-popup3 .ddp-box-detail .ddp-ui-high-option .ddp-link-high .ddp-icon-view {display:inline-block; margin-left:12px; width:7px; height:4px;background:url(../images/icon_select.png) no-repeat; background-position:-24px 0; vertical-align:middle; content:'';}
.ddp-box-popup3 .ddp-box-detail .ddp-wrap-high.ddp-selected .ddp-link-high .ddp-icon-view {transform:rotate(180deg);}
.ddp-box-popup3 .ddp-box-detail .ddp-wrap-high .ddp-high-setting {display:none;}
.ddp-box-popup3 .ddp-box-detail .ddp-wrap-high.ddp-selected .ddp-high-setting {display:block;}
.ddp-box-popup3 .ddp-box-detail .ddp-ui-message {margin-top:20px; margin-bottom:-30px;}


.ddp-box-popup3 .ddp-ui-buttons {padding:20px 0 80px 0;}
.ddp-box-popup3 .ddp-clear {margin:0 -4px;}
.ddp-box-popup3 .ddp-clear [class*="ddp-col-"] {padding:0 4px;}
.ddp-box-popup3 .ddp-ui-buttons a[class*="ddp-btn-type-"] {margin:0 3px;}
.ddp-box-popup3.ddp-box-fix {height:720px;}
.ddp-box-popup3.ddp-box-fix .ddp-ui-buttons {position:absolute; bottom:0; left:0; right:0;}

.ddp-wrap-layout-popup.ddp-wrap-edit .ddp-box-popup {width:679px; height:402px; margin:-201px 0 0 -339px;}
.ddp-wrap-layout-popup.ddp-wrap-edit .ddp-box-popup .ddp-box-edit {height:324px; margin-bottom:20px; border-bottom:1px solid #e7e7ea;}

.ddp-wrap-layout-popup.type-small .ddp-table-cell {display:table-cell; vertical-align:middle; text-align:center;}
.ddp-wrap-layout-popup.type-small .ddp-table-cell .ddp-box-popup {position:relative; top:0; left:0; margin:0; display:inline-block; width:400px; height:auto;}
.ddp-wrap-layout-popup.type-small .ddp-table-cell .ddp-box-popup .ddp-pop-title {padding:0 30px 0 30px; font-size:18px; text-align:left; line-height:1.3em; font-weight:normal;}
.ddp-wrap-layout-popup.type-small .ddp-table-cell .ddp-box-popup .ddp-pop-detail {margin:0; padding:15px 30px 0 30px; text-align:left;}

.ddp-wrap-layout-popup.type-small .ddp-table-cell .ddp-box-popup .ddp-popup-text {padding:40px 0; border-bottom:1px solid rgba(231, 231, 234, 0.7);}

.ddp-wrap-layout-popup.type-small .ddp-table-cell .ddp-box-popup .ddp-ui-buttons {padding:15px 0;}
.ddp-wrap-layout-popup.type-small .ddp-table-cell .ddp-box-popup .ddp-ui-buttons .ddp-btn-type-popup {min-width:80px; padding:6px 10px; box-sizing:border-box; font-size:13px;}

/**************************************************************
    텍스트 위젯 편집 팝업
**************************************************************/
.ddp-wrap-layout-popup.ddp-wrap-edit .ddp-box-popup .ddp-ui-popup-title {text-align: left; font-size:18px; padding: 10px 15px; overflow: hidden;}
.ddp-wrap-layout-popup.ddp-wrap-edit .ddp-box-popup .ddp-ui-popup-title em.ddp-icon-btntext{ margin-top:-4px;}

/**************************************************************
    공통팝업 레이아웃
**************************************************************/
.ddp-box-popup.ddp-box-popup-type1 .ddp-pop-title {padding:140px 100px 43px 100px;}
.ddp-box-popup.ddp-box-popup-type1 .ddp-pop-detail {margin:0 100px 61px 100px; max-height:150px; font-size:14px; color:#90969f; text-align:center; line-height:24px; overflow:auto;}
.ddp-box-popup3 .ddp-pop-detail{clear:both;padding:35px 0px 0px 0px; font-size:14px; color:#90969f; text-align:center; line-height:24px;}
.ddp-box-popup.ddp-box-popup-type2 .ddp-pop-title {padding:190px 100px 52px 100px; height:80px;}
.ddp-box-popup.ddp-box-popup-type3 .ddp-pop-title {padding:80px 0 0 0;}
.ddp-box-popup.ddp-box-popup-type3 .ddp-box-detail {display:table; table-layout:fixed; position:absolute; top:180px; left:0; right:0; width:100%; min-height:240px; text-align:center; vertical-align: middle;}
.ddp-box-popup.ddp-box-popup-type3 .ddp-box-detail .ddp-box-detail-in {display:table-cell; width:100%; height:100%; padding:0 100px; vertical-align:middle; box-sizing:border-box;}
.ddp-box-popup.ddp-box-popup-type3 .ddp-box-detail .ddp-box-detail-in .ddp-txt-detail {max-height:240px; overflow:auto;}
.ddp-box-popup.ddp-box-popup-type3 .ddp-box-detail .ddp-box-detail-in .ddp-txt-detail.ddp-word-break {word-break:break-all}
.ddp-box-popup.ddp-box-popup-type3 .ddp-box-detail .ddp-box-detail-in .ddp-box-edit {display:inline-block; width:464px; text-align:left;}
.ddp-box-popup.ddp-box-popup-type3 .ddp-box-detail .ddp-box-detail-in .ddp-box-edit.ddp-type .ddp-wrap-edit3 + .ddp-wrap-edit3{margin-top:15px;}
.ddp-box-popup.ddp-box-popup-type3 .ddp-box-detail .ddp-box-form {display:inline-block; width:464px; text-align:left;}
.ddp-box-popup .ddp-box-form .ddp-wrap-edit2 {margin-top:30px;}
.ddp-box-popup.ddp-box-popup-type3 span.ddp-pop-detail {display:block; height:48px; padding-bottom:10px; color:#4b515b; font-size:14px; line-height:24px;}
.ddp-box-popup.ddp-box-popup-type3 span.ddp-pop-detail em.ddp-icon-time2 {margin-right:5px; vertical-align: middle;}
.ddp-box-popup.ddp-box-popup-type3 ul.ddp-list-type-input {display:inline-block;  text-align:left;}
.ddp-box-popup.ddp-box-popup-type3 ul.ddp-list-type-input li {padding:6px 0;}
.ddp-box-popup.ddp-box-popup-type3 ul.ddp-list-type-input li .ddp-label-radio + .ddp-type-selectbox {position:relative; top:-5px;}
.ddp-box-popup.ddp-box-popup-type3 ul.ddp-list-type-input li.ddp-list-inline .ddp-label-radio.ddp-inline {margin-right:9px}
.ddp-box-popup.ddp-box-popup-type3 ul.ddp-list-type-input li.ddp-list-inline .ddp-type-selectbox {width:230px; box-sizing:border-box;}
.ddp-box-popup.ddp-box-popup-type3 .ddp-ui-buttons {position:absolute; left:0; right:0; bottom:80px;}

/**************************************************************
    팝업2 레이아웃
**************************************************************/
.ddp-type-contents.ddp-scroll .ddp-icon-name {box-shadow:0 3px 5px rgba(0,0,0,.05);}
.ddp-type-contents.ddp-scroll > .ddp-ui-buttons2, .ddp-type-contents.ddp-scroll > .ddp-ui-buttons {box-shadow:0 -3px 5px rgba(0,0,0,.05);}
.ddp-type-contents {position:fixed; left:0; right:0; bottom:0; top:0; padding-top:72px; padding-bottom:55px; text-align:center; background-color:#fff; overflow-y:auto; z-index:126;}
.ddp-type-contents2 {position:fixed; left:0; right:0; bottom:0; top:54px; background-color:#fff; z-index:2; overflow:auto;}
.ddp-type-contents3  {position:fixed; left:0; right:0; bottom:0; top:0; background-color:#fff; overflow-y:auto; z-index:126;}
.ddp-type-contents a.ddp-btn-close {position:fixed; top:20px; right:20px; display:inline-block; width:23px; height:23px; background:url(../images/btn_popclose.png) no-repeat; z-index:90;}
.ddp-type-contents .ddp-ui-name2.ddp-type {padding:0 0 33px 0; margin-top:-20px;}
.ddp-type-contents .ddp-ui-name2.ddp-type2 {margin-bottom:0;}
.ddp-type-contents .ddp-ui-name2.ddp-type3 {padding-top:13px; padding-bottom:15px; margin-bottom:25px;}
.ddp-type-contents .ddp-ui-name2 {display:inline-block; position:relative; padding:54px 16px 33px 16px; margin-bottom:52px; color:#666eb2; font-size:18px;}
.ddp-type-contents.ddp-resize2.ddp-type2 .ddp-ui-name2 {padding:2px 0 15px 0; margin-bottom:0;}
.ddp-type-contents.ddp-resize.ddp-type {padding:38px 0 78px 0;}
.ddp-type-contents.ddp-resize.ddp-type .ddp-ui-name2.ddp-type3 .ddp-txt-info {display:block; color:#90969f; font-size:14px; text-align:center;}

.ddp-type-contents .ddp-ui-name2 .ddp-icon-newlink2,
.ddp-type-contents .ddp-ui-name2 .ddp-icon-workbench {display:inline-block; position:absolute; top:0; left:50%; margin-left:-15px; width:30px; height:30px; background:url(../images/icon_popup.png) no-repeat;}
.ddp-type-contents .ddp-ui-name2 .ddp-icon-workbench {background-position:-31px top;}
.ddp-type-contents .ddp-ui-name2 em[class*="ddp-bg-order-line2"]
{display:inline-block; position:absolute; bottom:-4px; left:50%; width:38px; height:9px; margin-left:-19px; background:url(../images/bg_order_line2.png) no-repeat;}
.ddp-type-contents .ddp-ui-name2 em.ddp-bg-order-line2-type2 {background-position:left -10px;}

.ddp-type-contents .ddp-ui-name2 em[class*="ddp-bg-order-line3"]
{display:inline-block; position:absolute; bottom:-4px; left:50%; width:70px; height:9px; margin-left:-34px; background:url(../images/bg_order_line.png) no-repeat;}
.ddp-type-contents .ddp-ui-name2 em.ddp-bg-order-line3-type2 {background-position:left -10px;}
.ddp-type-contents .ddp-ui-name2 em.ddp-bg-order-line3-type3 {background-position:left -20px;}

.ddp-type-contents .ddp-ui-name2 em[class*="ddp-bg-order-line4"]
{display:inline-block; position:absolute; bottom:-4px; left:50%; width:100px; height:9px; margin-left:-50px; background:url(../images/bg_order_line4.png) no-repeat;}
.ddp-type-contents .ddp-ui-name2 em.ddp-bg-order-line4-type2 {background-position:left -10px;}
.ddp-type-contents .ddp-ui-name2 em.ddp-bg-order-line4-type3 {background-position:left -20px;}
.ddp-type-contents .ddp-ui-name2 em.ddp-bg-order-line4-type4 {background-position:left -30px;}

.ddp-type-contents .ddp-ui-name2 em[class*="ddp-bg-order-line5"] {display:inline-block; position:absolute; bottom:-4px; left:50%; width:129px; height:9px; margin-left:-64px; background:url(../images/bg_order_line5.png) no-repeat;}
.ddp-type-contents .ddp-ui-name2 em.ddp-bg-order-line5-type2 {background-position:left -10px;}
.ddp-type-contents .ddp-ui-name2 em.ddp-bg-order-line5-type3 {background-position:left -20px;}
.ddp-type-contents .ddp-ui-name2 em.ddp-bg-order-line5-type4 {background-position:left -30px;}
.ddp-type-contents .ddp-ui-name2 em.ddp-bg-order-line5-type5 {background-position:left -40px;}

.ddp-type-contents .ddp-ui-name2 em.ddp-bg-order-type {display:inline-block; position:absolute; bottom:-4px; left:50%; width:75px; margin-left:-38px; border-top:1px solid #666eb2;}
.ddp-type-contents-in .ddp-txt-info {display:block; padding-bottom:86px; color:#35393f; font-size:28px; text-align:center; font-weight:300;;}
.ddp-type-contents-in .ddp-txt-info.ddp-type {padding-bottom:88px;}
.ddp-type-contents .ddp-ui-buttons {padding-top:20px; }
.ddp-type-contents .ddp-ui-buttons a[class*="ddp-btn-type-"] {margin:0 2px;}
.ddp-type-contents .ddp-ui-buttons.type-shadow {box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.1);}
.ddp-type-contents.ddp-resize {overflow:hidden;}
.ddp-type-contents.ddp-resize .ddp-type-contents-in {position:absolute; top:154px; left:0; right:0; bottom:80px;}
.ddp-type-contents.ddp-resize .ddp-type-contents-in.ddp-type {top:0;}
.ddp-type-contents.ddp-resize .ddp-type-contents-in.ddp-type .ddp-type-multidata {top:86px;}

.ddp-type-contents.ddp-resize .ddp-box-popupcontents3 {position:absolute; top:65px; left:0; right:0; bottom:0; height:auto; margin-top:0;}
.ddp-type-contents.ddp-resize.ddp-type .ddp-box-popupcontents3 {top:0;}
.ddp-type-contents.ddp-resize.ddp-type .ddp-box-popupcontents3.ddp-type-multidata.ddp-edit {bottom:-38px; overflow:hidden;}
.ddp-type-contents.ddp-resize.ddp-type .ddp-type-contents-in {top:140px;}
.ddp-type-contents.ddp-resize .ddp-ui-buttons {position:absolute; bottom:0; left:0; right:0; padding-bottom:20px;}

.ddp-type-contents.ddp-resize2 {padding:0; }
.ddp-type-contents.ddp-resize2 .ddp-icon-name {position:fixed; top:0; left:0; right:0; padding-top:72px; background-color:#fff; z-index:70;}
.ddp-type-contents.ddp-resize2 .ddp-icon-name .ddp-txt-info
{display:block; padding-bottom:86px; color:#35393f; font-size:28px; text-align:center; font-weight:300;;}

.ddp-type-contents.ddp-resize2.ddp-type2 .ddp-icon-name {padding-top:38px; padding-bottom:25px;}
.ddp-type-contents.ddp-resize2.ddp-type2 .ddp-icon-name .ddp-txt-info {padding-bottom:0; color:#90969f; font-size:14px; font-weight:normal;}
.ddp-type-contents.ddp-resize2.ddp-type2 .ddp-icon-name.type-shadow {box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);}

.ddp-type-contents.ddp-resize2 .ddp-ui-name2.ddp-type {position:fixed; padding-top:40px; left:0; right:0; margin-top:0; background-color:#fff; z-index:20;}
.ddp-type-contents.ddp-resize2 .ddp-box-popupcontents4 {padding:120px 0 78px 0;}
.ddp-type-contents.ddp-resize2 .ddp-box-popupcontents4 > .ddp-wrap-edit2:first-of-type {margin-top:0;}
.ddp-type-contents.ddp-resize2 > .ddp-ui-buttons2,
.ddp-type-contents.ddp-resize2 > .ddp-ui-buttons {position:fixed; bottom:0; left:0; right:0; padding-bottom:20px; background-color:#fff;}
.ddp-type-contents.ddp-resize2 .ddp-ui-buttons.type-fix {position:fixed; bottom:0; left:0; right:0; padding-bottom:20px; background-color:#fff;}
.ddp-type-contents.ddp-resize2 .ddp-type-contents-in {position:relative; min-height:100%; padding:356px 0 85px 0; box-sizing:border-box;}
.ddp-type-contents.ddp-resize2 .ddp-type-contents-in.ddp-scroll {position:absolute; top:136px; left:0; right:0; bottom:78px; padding:0 !important; min-height:auto; overflow:auto;}
.ddp-type-contents.ddp-resize2.ddp-type2 .ddp-type-contents-in {padding-top:139px;  box-sizing:border-box}

.ddp-type-contents-in.ddp-size-resize .ddp-box-grid-detail {bottom:1px;}

.ddp-type-contents.ddp-resize2 .ddp-type-contents-in.ddp-full {height:100%;}
.ddp-type-contents.ddp-resize2 .ddp-box-popupcontents3 {padding:160px 0 130px 0;}
.ddp-type-contents.ddp-resize2.ddp-type2 .ddp-box-popupcontents3 {padding-top:138px;}
.ddp-type-contents.ddp-resize2 .ddp-type-contents-in .ddp-box-popupcontents3 {padding:0;}
.ddp-type-contents.ddp-resize2.ddp-type .ddp-type-contents-in {padding-top:270px;}
.ddp-type-contents.ddp-resize2.ddp-type .ddp-type-contents-in.ddp-type {padding-top:177px;}
.ddp-type-contents.ddp-resize2 .ddp-box-popupcontents {height:100%;}
.ddp-type-contents.ddp-resize2 .ddp-box-popupcontents.type-info {padding-bottom:40px;box-sizing:border-box;}
.ddp-type-contents.ddp-resize2 .ddp-box-popupcontents.type-info .ddp-box-synch {position:absolute; bottom:0; left:0; right:0;}
.ddp-type-contents.ddp-resize2 .ddp-box-source-create.ddp-box-type .ddp-wrap-edit3:first-of-type {margin-top:0;}

/* 가변 */
.ddp-type-contents-in.ddp-size-resize {height:100%;}
.ddp-type-contents-in.ddp-size-resize .ddp-popup-dashboard {height:100%; padding-bottom:18px; box-sizing:border-box;}
.ddp-type-contents-in.ddp-size-resize .ddp-wrap-variable {height:100%; margin-top:-43px; padding-top:43px; box-sizing:border-box;}
.ddp-type-contents-in.ddp-size-resize .ddp-wrap-viewtable {height:100%;}
.ddp-type-contents-in.ddp-size-resize .ddp-wrap-viewtable.ddp-add {position:relative; padding-bottom:44px; box-sizing:border-box;}
.ddp-type-contents-in.ddp-size-resize .ddp-popup-dashboard .ddp-wrap-variable .ddp-wrap-grid {height:100%;}
.ddp-type-contents-in.ddp-size-resize .ddp-popup-dashboard .ddp-wrap-grid .ddp-box-viewtable {height:100%; min-height:auto;}
.ddp-type-contents-in.ddp-size-resize .ddp-wrap-viewtable.ddp-add .ddp-box-add-link3 {position:absolute; bottom:1px; left:0; right:0;}
.ddp-type-contents-in.ddp-size-resize .ddp-box-grid-detail {bottom:19px;}
.ddp-type-contents-in.ddp-size-resize .ddp-ui-bottomoption {bottom:0; top:inherit;}
.ddp-type-contents-in.ddp-size-resize .ddp-ui-import-option {position:relative; height:100%; padding-bottom:0; box-sizing:border-box;}
.ddp-type-contents-in.ddp-size-resize .ddp-ui-import-option .ddp-ui-grid {height:100%;}
.ddp-type-contents-in.ddp-size-resize .ddp-box-popupcontents.ddp-info {padding-bottom:18px; box-sizing:border-box;}
.ddp-type-contents-in.ddp-size-resize .ddp-dataflow .ddp-box-viewtable {height:100%;}
.ddp-type-contents-in.ddp-size-resize .ddp-dataset {margin-top:-95px; padding:95px 0 0 0; box-sizing:border-box;}
.ddp-type-contents-in.ddp-size-resize .ddp-ui-import-option.ddp-selected-query .ddp-dataset {margin-top:-358px; padding-top:358px;}

.ddp-type-contents-in.ddp-size-resize2 {height:100%;}
.ddp-type-contents-in.ddp-size-resize2 .ddp-popup-dashboard {height:100%;}
.ddp-type-contents-in.ddp-size-resize2 .ddp-wrap-variable {height:100%;}
.ddp-type-contents-in.ddp-size-resize2 .ddp-popup-dashboard .ddp-wrap-grid {height:100%;}
.ddp-type-contents-in.ddp-size-resize2 .ddp-wrap-file-navi {height:100%; box-sizing:border-box;}
.ddp-type-contents-in.ddp-size-resize2 .ddp-wrap-sheet {height:100%; box-sizing:border-box;}
.ddp-type-contents-in.ddp-size-resize2 .ddp-cluster-add {height:100%; box-sizing:border-box;}
.ddp-type-contents-in.ddp-size-resize2 .ddp-cluster-add .ddp-box-application {height:100%; box-sizing:border-box;}
.ddp-type-contents-in.ddp-size-resize2 .ddp-cluster-add .ddp-wrap-ex {height:100%; box-sizing:border-box; overflow:auto;}
.ddp-type-contents-in.ddp-sheet-resize {height:100%;}
.ddp-type-contents-in.ddp-sheet-resize .ddp-wrap-variable {height:100%; padding:259px 0 0 0; margin-top:-254px; box-sizing:border-box; }
.ddp-type-contents-in.ddp-sheet-resize .ddp-flex .ddp-wrap-variable {padding:0; margin:0; height:auto; flex:1 auto; overflow:hidden;}
.ddp-type-contents-in.ddp-sheet-resize .ddp-wrap-message {padding-top:5px;}
.ddp-type-contents-in.ddp-sheet-resize .ddp-wrap-variable .ddp-wrap-sheet {height:100%; box-sizing:border-box;}
.ddp-type-contents-in.ddp-sheet-resize .ddp-wrap-variable.ddp-type {margin-top:-145px; padding:155px 0 0 0;}
.ddp-type-contents-in.ddp-size-resize3 {height:100%;}
.ddp-type-contents-in.ddp-size-resize3 .ddp-box-popupcontents3 {height:100%;}
.ddp-type-contents-in.ddp-size-resize3 .ddp-wrap-variable {height:100%; margin-top:-124px; padding:124px 0 0 0; box-sizing:border-box;}
.ddp-type-contents-in.ddp-size-resize3 .ddp-wrap-variable .ddp-box-schema{height:100%; box-sizing:border-box;}
.ddp-type-contents-in.ddp-size-resize3 .ddp-wrap-variable .ddp-box-schema .ddp-wrap-fleft {height:100%; box-sizing:border-box;}

.ddp-type-contents-in.ddp-size-resize3 .ddp-wrap-variable .ddp-box-schema .ddp-wrap-fright {height:100%; box-sizing:border-box;}
.ddp-type-contents-in.ddp-size-resize3 .ddp-wrap-variable .ddp-box-schema .ddp-box-viewtable {min-height:inherit;}

.ddp-wrap-datadetail.ddp-size-resize {height:100%; margin-top:-48px; padding:63px 45px 0 45px; box-sizing:border-box;}
.ddp-wrap-datadetail.ddp-size-resize .ddp-wrap-tab-contents {height:100%; margin-top:-57px; padding:57px 0 50px 0; box-sizing:border-box;}
.ddp-wrap-datadetail.ddp-size-resize .ddp-ui-tab-contents.ddp-full {height:100%;}

.ddp-wrap-datadetail.ddp-size-resize .ddp-wrap-variable {height:100%; margin-top:-67px; padding:67px 0 0 0; box-sizing:Border-box;}
.ddp-wrap-datadetail.ddp-size-resize .ddp-wrap-variable .ddp-data-details {height:100%;}
.ddp-wrap-datadetail.ddp-size-resize .ddp-wrap-variable .ddp-data-details .ddp-wrap-detail {height:100%; box-sizing:Border-box; overflow:auto;}
.ddp-wrap-datadetail.ddp-size-resize .ddp-wrap-variable .ddp-wrap-sourcename {overflow:auto;}
/**************************************************************
    네비
**************************************************************/
.ddp-layout-chart .ddp-wrap-naviarea {border:1px solid #ececef; background-color:#fff;}
.ddp-wrap-naviarea {position:relative; padding-left:38px; height:48px; background-color:#e7e7ea; z-index:35; box-sizing:border-box;}
.ddp-wrap-naviarea em.ddp-icon-chart2 {position:absolute; top:50%; left:14px; margin-top:-7px;}
.ddp-wrap-naviarea em.ddp-icon-dataset2 {position:absolute; top:50%; left:14px; margin-top:-10px;}
.ddp-wrap-naviarea em.ddp-icon-dashboard2 {position:absolute; top:50%; left:14px; margin-top:-7px;}
.ddp-ui-naviarea {display:block; padding: 7px 0 9px 0; overflow:hidden;}
.ddp-ui-naviarea:before,
.ddp-ui-naviarea:after {display:table; content:'';}
.ddp-ui-naviarea:after {clear:both;}

.ddp-ui-naviarea .ddp-wrap-naviname {display:inline-block; position:relative; top:5px; float:left; max-width:60%; font-size:16px; color:#4b515b; box-sizing:border-box; line-height:1em;}
.ddp-ui-naviarea .ddp-wrap-naviname.ddp-full {max-width:100%;}
.ddp-ui-naviarea .ddp-wrap-naviname .ddp-wrap-popup2 {display:none; position:absolute; top:100%; left:-15px;}
.ddp-wrap-naviname.ddp-selected .ddp-wrap-popup2 {display:block;}
.ddp-ui-naviarea .ddp-wrap-naviname .ddp-wrap-popup2.ddp-type {width:245px;}
.ddp-ui-naviarea .ddp-wrap-naviname span.ddp-data-naviname {display:inline-block; position:relative; width:100%; height:25px; padding:5px 18px 0px 5px; cursor:pointer; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; word-wrap:normal; box-sizing:border-box; font-family:sans-serif; line-height:1em;}
.ddp-ui-naviarea .ddp-wrap-naviname span.ddp-data-naviname em.ddp-icon-menuview {display:none;}
.ddp-ui-naviarea .ddp-wrap-naviname span.ddp-data-naviname.ddp-readonly {padding-right:10px; cursor:default;}
.ddp-ui-naviarea .ddp-wrap-naviname-txt span.ddp-data-naviname  {display:inline-block; position:relative; width:100%; padding:2px 18px 2px 5px; cursor:pointer; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; word-wrap:normal; box-sizing:border-box;}

.ddp-ui-naviarea .ddp-wrap-naviname span.ddp-txt-naviname {display:inline-block; position:relative; width:100%; padding:2px 5px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; word-wrap:normal; box-sizing:border-box;}
.ddp-ui-naviarea .ddp-wrap-naviname:hover span.ddp-data-naviname {background-color:#d9dadf;}

.ddp-ui-naviarea .ddp-wrap-naviname:hover span.ddp-data-naviname.ddp-readonly {background:none;}
.ddp-ui-naviarea .ddp-wrap-naviname.ddp-type span.ddp-data-naviname {cursor:auto;}
.ddp-ui-naviarea .ddp-wrap-naviname.ddp-type:hover span.ddp-data-naviname {background:none;}
.ddp-ui-naviarea input.ddp-input-navi {float:left; padding:3px 5px 2px 5px; width:100%; height:25px; font-size:16px; background-color:#d9dadf; box-sizing:border-box; border:none; line-height:1.3em;}
.ddp-ui-naviarea input.ddp-input-navi::-webkit-input-placeholder {color:#9ba0ab;}
.ddp-ui-naviarea input.ddp-input-navi:-ms-input-placeholder {color:#9ba0ab;}

.ddp-ui-naviarea .ddp-box-navi .ddp-wrap-input {display:none; position:relative; top:4px; float:left;}
.ddp-ui-naviarea .ddp-box-navi.ddp-selected .ddp-wrap-input {display:inline-block; position:relative; top:5px; width:40%; padding-right:23px; box-sizing:border-box; vertical-align: middle;}
.ddp-ui-naviarea .ddp-box-navi.ddp-selected.ddp-check-none .ddp-wrap-input {padding-right:0}
.ddp-ui-naviarea .ddp-box-navi.ddp-selected.ddp-check-none .ddp-wrap-input .ddp-btn-check {display:none;}
.ddp-ui-naviarea .ddp-box-navi .ddp-wrap-input .ddp-btn-check {display:inline-block; position:absolute; top:0; right:0; height:25px;}
.ddp-ui-naviarea .ddp-box-navi.ddp-selected input.ddp-input-navi {display:block;}
.ddp-ui-naviarea .ddp-box-navi.ddp-selected .ddp-wrap-naviname span.ddp-data-naviname {display:none;}
.ddp-ui-naviarea .ddp-wrap-naviname span.ddp-data-naviname .ddp-icon-edit2 {display:none;}
.ddp-ui-naviarea .ddp-wrap-naviname:hover span.ddp-data-naviname .ddp-icon-edit2 {display:block; position:absolute; top:50%; right:4px; margin-top:-6px; background-position:-11px top;}
.ddp-ui-naviarea .ddp-wrap-naviname:hover span.ddp-data-naviname.ddp-readonly .ddp-icon-edit2 {display:none;}
.ddp-ui-naviarea .ddp-box-navidet {float:left; position:relative; top:5px; max-width:40%; box-sizing:border-box;}
.ddp-ui-naviarea .ddp-wrap-navidet {display:inline-block;position:relative;float:left;max-width:100%; white-space: nowrap;box-sizing:border-box;overflow:hidden;}
.ddp-ui-naviarea .ddp-wrap-navidet span.ddp-data-navidet {display:inline-block;float:left;width:100%; height:25px; padding:5px;color:#90969f;font-size:12px;cursor:pointer;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;word-wrap:normal;box-sizing:border-box; font-family:sans-serif; letter-spacing:0.4px;}

.ddp-ui-naviarea .ddp-wrap-navidet span.ddp-txt-navidet  {display:inline-block; float:left; position:relative; top:3px; width:100%; padding:2px 5px; color:#90969f; font-size:12px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; word-wrap:normal; box-sizing:border-box;}
.ddp-ui-naviarea .ddp-wrap-navidet em.ddp-icon-edit2 {display:none;}
.ddp-ui-naviarea .ddp-box-navidet .ddp-wrap-input {display:none; position:relative;  padding-right:23px; box-sizing:border-box;}
.ddp-ui-naviarea .ddp-box-navidet .ddp-wrap-input .ddp-btn-check {display:inline-block; position:absolute; top:0; right:0; height:25px;}
.ddp-ui-naviarea .ddp-box-navidet input.ddp-input-navi {display:inline-block; width:100%; height:25px; padding:3px 5px 3px 4px; font-size:12px; border:1px solid #d9dadf; background-color:#d9dadf; box-sizing:border-box; font-family:sans-serif; letter-spacing:0.4px;}
.ddp-ui-naviarea .ddp-box-navidet input.ddp-input-navi::-webkit-input-placeholder {color:#9ba0ab; font-size:12px;}
.ddp-ui-naviarea .ddp-box-navidet input.ddp-input-navi:-ms-input-placeholder {font-family:'SpoqaHanSans'; color:#9ba0ab;}

.ddp-ui-naviarea .ddp-wrap-navidet:hover span.ddp-data-navidet {padding-right:18px; background-color:#d9dadf;}
.ddp-ui-naviarea .ddp-wrap-navidet span.ddp-data-navidet em.ddp-icon-edit2 {position:absolute; top:50%; right:4px; margin-top:-6px;}

.ddp-ui-naviarea .ddp-wrap-navidet:hover span.ddp-data-navidet em.ddp-icon-edit2 {display:block; background-position:-11px top;}

.ddp-ui-naviarea .ddp-wrap-navidet span.ddp-data-navidet.ddp-readonly {cursor:default;}
.ddp-ui-naviarea .ddp-wrap-navidet span.ddp-data-navidet.ddp-readonly em.ddp-icon-edit2 {display:none;}
.ddp-ui-naviarea .ddp-wrap-navidet span.ddp-data-navidet.ddp-readonly,
.ddp-ui-naviarea .ddp-wrap-navidet:hover span.ddp-data-navidet.ddp-readonly {padding-right:0; background:none; }
.ddp-ui-naviarea .ddp-box-navidet.ddp-selected {width:59%;}
.ddp-ui-naviarea .ddp-box-navidet.ddp-selected .ddp-wrap-input {display:block;}
.ddp-ui-naviarea .ddp-box-navidet.ddp-selected textarea.ddp-input-navi {display:block;}
.ddp-ui-naviarea .ddp-box-navidet.ddp-selected .ddp-wrap-navidet {display:none;}

.ddp-wrap-naviarea .ddp-ui-navidata {float: right;position: relative;padding-right:16px;/* z-index: 1; */}
.ddp-wrap-naviarea .ddp-ui-navidata span.ddp-data-time {float:left; padding-right:13px; color:#90969f; font-size:12px; line-height:48px; font-weight:300;}
.ddp-wrap-naviarea .ddp-ui-navidata span.ddp-data-time em {font-weight:normal;}
.ddp-wrap-naviarea .ddp-ui-navidata span.ddp-data-source {position:relative; float:left; padding:15px 21px;color:#838793; font-size:12px;}
.ddp-wrap-naviarea .ddp-ui-navidata span.ddp-data-source:before {display:inline-block; content:'';position:absolute; top:15px; left:0; height:17px; border-left:1px solid #d0d1d8;}
.ddp-wrap-naviarea .ddp-ui-navidata span.ddp-data-source a.ddp-icon-source3 {margin-right:0; background-position:-34px -16px;}
.ddp-wrap-naviarea .ddp-ui-navidata span.ddp-data-source a.ddp-icon-source3:hover {background-position:-17px -16px;}
.ddp-wrap-naviarea .ddp-ui-navidata span.ddp-data-source .ddp-ui-tooltip-info {top:37px; right:11px;}
.ddp-wrap-naviarea .ddp-ui-navidata span.ddp-data-sec {float:left; padding:15px 20px 16px 0; }
.ddp-wrap-naviarea .ddp-ui-navidata span.ddp-data-sec a {color:#646b72; font-size:12px;}
.ddp-wrap-naviarea .ddp-ui-navidata span.ddp-data-sec a em.ddp-icon-redo {display:inline-block; width:18px; height:16px; background:url(../images/icon_redo2.png) no-repeat;}
.ddp-wrap-naviarea .ddp-ui-navidata span.ddp-data-sec a:hover {color:#535962;}

.ddp-wrap-naviarea .ddp-ui-navidata span.ddp-data-sec a:hover em.ddp-icon-redo {background-position:-19px top;}

.ddp-wrap-naviarea .ddp-ui-navidata.ddp-type .ddp-ui-work-buttons:before {display:none;}
.ddp-wrap-naviarea .ddp-ui-work-buttons {position:relative; float:left; padding:16px 0 0 23px;}
.ddp-wrap-naviarea .ddp-ui-work-buttons:before {display:inline-block; position:absolute; top:15px; left:0; height:17px; border-left:1px solid #d0d1d8; content:'';}

.ddp-wrap-naviarea .ddp-ui-work-buttons a[class*="ddp-icon-"] {color:#646b72; font-size:12px;}
.ddp-wrap-naviarea .ddp-ui-work-buttons a[class*="ddp-icon-"]:hover {color:#535962;}
.ddp-wrap-naviarea .ddp-ui-work-buttons a.ddp-icon-more {font-size:0px;}
.ddp-wrap-naviarea .ddp-ui-work-buttons a.ddp-icon-board-monitoring,
.ddp-wrap-naviarea .ddp-ui-work-buttons a.ddp-icon-board-edit,
.ddp-wrap-naviarea .ddp-ui-work-buttons .ddp-ui-more {float:left; }
.ddp-wrap-naviarea .ddp-ui-work-buttons a.ddp-icon-board-monitoring {margin-right:21px;}
.ddp-wrap-naviarea .ddp-ui-work-buttons a.ddp-icon-board-edit {margin-right:18px;}
.ddp-wrap-naviarea .ddp-ui-work-buttons .ddp-ui-more {position:relative;}
.ddp-wrap-naviarea .ddp-ui-work-buttons .ddp-ui-more a.ddp-icon-more:before {background-position:left -12px;}
.ddp-wrap-naviarea .ddp-ui-work-buttons .ddp-ui-more a.ddp-icon-more:hover:before {background-position:left -4px;}

.ddp-wrap-naviarea .ddp-ui-work-buttons .ddp-ui-more.ddp-selected .ddp-wrap-popup2 {display:block; z-index:15;}
.ddp-wrap-naviarea .ddp-ui-work-buttons .ddp-ui-more.ddp-selected a.ddp-icon-more:before {background-position:0 -4px;}
.ddp-wrap-naviarea .ddp-ui-work-buttons .ddp-ui-more.ddp-selected:hover .ddp-ui-tooltip-info {display:none;}
.ddp-wrap-naviarea .ddp-ui-work-buttons .ddp-ui-more .ddp-wrap-popup2 {display:none; position:absolute; top:24px; right:0; min-width:250px;}

.ddp-ui-more .ddp-ui-tooltip-info.ddp-down em.ddp-icon-view-top{right:20px;}
a.ddp-link-naviarea em.ddp-icon-navi {display:inline-block; position:absolute; top:50%; left:22px; width:17px; height:16px; margin:-8px 0 0 0; background:url(../images/btn_back.png) no-repeat;}

/* 네비 (워크북/워크벤치) */
.ddp-wrap-naviarea.ddp-naviarea2 {padding-left:55px;padding-right:10px;}
.ddp-wrap-naviarea.ddp-naviarea2 .ddp-ui-naviarea .ddp-box-navidet {padding-left:0;}
.ddp-wrap-naviarea.ddp-naviarea2.ddp-type {padding-right:80px;}
.ddp-wrap-naviarea a.ddp-link-naviarea {display:inline-block; position:absolute; top:0; left:0; width:50px; height:47px;}
.ddp-wrap-naviarea .ddp-box-tag {display:inline-block; float:left; margin:16px 8px 0 0;}

/* 네비 (edit) */
.ddp-ui-navibuttons {position:absolute;top:7px;right:0; padding-right:12px;}
.ddp-ui-navibuttons a.ddp-btn-undo,
.ddp-ui-navibuttons a.ddp-btn-redo {display:inline-block; margin-left:19px; width:21px; height:14px; background:url(../images/btn_redo.png) no-repeat; vertical-align: middle;}
.ddp-ui-navibuttons a.ddp-btn-redo {transform:rotate(180deg); margin-right:16px;}
.ddp-ui-navibuttons a.ddp-btn-undo:hover {background-position:left -15px;}
.ddp-ui-navibuttons a.ddp-btn-redo:hover {transform:rotate(180deg); background-position:left -15px;}
.ddp-ui-navibuttons a.ddp-btn-undo.ddp-disabled,
.ddp-ui-navibuttons a.ddp-btn-redo.ddp-disabled,
.ddp-ui-navibuttons a.ddp-btn-undo.ddp-disabled:hover,
.ddp-ui-navibuttons a.ddp-btn-redo.ddp-disable:hover {opacity:0.4; cursor: no-drop; background-position:left top;}
.ddp-ui-navibuttons a.ddp-btn-line3 {display:inline-block; padding:7px; margin-left:5px; min-width:103px; border:1px solid #c5c7cc; border-radius:2px; text-align:center; color:#545b65; font-size:12px; font-weight:bold;}
.ddp-ui-navibuttons a.ddp-btn-buttons2 {margin-left:5px;}
.ddp-ui-navibuttons a.ddp-btn-line3:hover {border:1px solid #a1a6ad; color:#4b515b;}
.ddp-ui-navibuttons a.ddp-btn-line3.ddp-disabled {border:1px solid #c5c7cc; opacity:0.5; cursor: no-drop;}
.ddp-ui-navibuttons a.ddp-btn-blank {display:inline-block;padding:10px 22px; margin-right:-12px;}
.ddp-ui-navibuttons a.ddp-btn-blank em {margin-right:0;}
.ddp-wrap-naviarea.ddp-editnavi {padding-right:400px;}
.ddp-wrap-naviarea.ddp-editnavi.ddp-board-naviarea {padding-right:780px;}
.ddp-wrap-naviarea.ddp-editnavi .ddp-ui-naviarea {white-space:normal; text-overflow:inherit; overflow:inherit;}
.ddp-wrap-naviarea.ddp-editnavi .ddp-ui-naviarea .ddp-wrap-naviname:hover span.ddp-data-naviname,
.ddp-wrap-naviarea.ddp-editnavi .ddp-ui-naviarea .ddp-wrap-navidet:hover span.ddp-data-navidet {background:none;}
.ddp-wrap-naviarea.ddp-editnavi .ddp-ui-naviarea .ddp-wrap-naviname span.ddp-data-naviname.ddp-readonly {padding-right:10px;}

.ddp-ui-naviarea .ddp-wrap-naviname em.ddp-icon-menuview {display:inline-block; position:absolute; top:50%; right:14px; width:9px; height:5px; margin-top:-3px; background:url(../images/icon_menuview.png) no-repeat; background-position:left -14px;}
