
<!--
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="ddp-wrap-login metatron-login">
  <!--<em class="ddp-bg-login"></em>-->
  <!-- login -->
  <div class="ddp-ui-login">
    <div class="ddp-box-login">
      <div class="ddp-ui-logo">
        <!-- <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 514.6 67.2" style="enable-background:new 0 0 514.6 67.2;" xml:space="preserve">

          <g>
              <path class="st0" d="M114.2,28.5c-3.9,0-7.7,1.8-8.9,2.4c-1.4-1.7-3.4-2.4-6.7-2.4c-2.8,0-5.6,1.3-6.9,1.9V29h-4.8v26.4h4.8V34.6
                  c0.8-0.4,3.4-1.7,6.3-1.7c4,0,4.8,1.6,4.8,8.9v13.6h4.8V41.7c0-1.3,0-5.2-0.6-7.2c1-0.5,3.7-1.6,6.5-1.6c3.9,0,4.8,1.6,4.8,8.7
                  v13.8h4.8V41.5C123.3,32.9,121.9,28.5,114.2,28.5z"></path>
              <path class="st0" d="M141.7,28.5c-7.4,0-11.1,4.7-11.1,13.9c0,9.5,3.2,13.6,10.6,13.6c4.1,0,9.9-0.8,10-0.8l0.5-0.1l-0.1-4l-0.5,0
                  c-0.1,0-5.6,0.5-9.3,0.5c-4.2,0-6-2.1-6.1-7.3h16.7l0.2-3.4C152.4,32.6,148.9,28.5,141.7,28.5z M141.7,32.7c3.5,0,5.8,1.3,5.9,7.5
                  h-12.2C135.5,35.1,137.5,32.7,141.7,32.7z"></path>
              <path class="st0" d="M173.2,51.3c0,0-3.1,0.3-4.5,0.3c-2.7,0-3.1-0.9-3.1-6.6V33.4h8.1V29h-8.1v-7.8h-4.8V29h-3.6v4.3h3.6v12.9
                  c0,7.4,1.8,9.8,7.5,9.8c1.8,0,5.1-0.5,5.3-0.6l0.5-0.1l-0.3-4.1L173.2,51.3z"></path>
              <path class="st0" d="M198.5,50.2v-13c0-5.9-2.8-8.7-8.7-8.7c-4.4,0-9.8,1.1-10.1,1.1l-0.4,0.1l0.2,3.9l0.5-0.1
                  c0.1,0,6.1-0.7,9.5-0.7c2.9,0,4.1,1.2,4.1,4.3v1.7l-7.5,0.7c-5.7,0.6-8.2,3-8.2,8c0,5.3,2.7,8.3,7.7,8.3c4,0,7.9-1.5,9-1.9
                  c1.5,1.4,3.3,1.9,6.2,1.9h0.5l0.2-4L201,52C198.9,51.7,198.6,50.9,198.5,50.2z M186.2,51.7c-2.2,0-3.4-1.4-3.4-4.2
                  c0-2.6,1.1-3.8,3.9-4.1l7-0.7v7.5C192.6,50.7,189.2,51.7,186.2,51.7z"></path>
              <path class="st0" d="M221,51.3c0,0-3.1,0.3-4.5,0.3c-2.7,0-3.1-0.9-3.1-6.6V33.4h8.1V29h-8.1v-7.8h-4.8V29H205v4.3h3.6v12.9
                  c0,7.4,1.8,9.8,7.5,9.8c1.8,0,5.1-0.5,5.3-0.6l0.5-0.1l-0.3-4.1L221,51.3z"></path>
              <path class="st0" d="M232.2,32.1v-3h-4.8v26.4h4.8V36.6c1-0.5,4.8-2.5,8.8-3.3l0.4-0.1v-4.9l-0.6,0.1
                  C237.1,29.2,233.7,31.1,232.2,32.1z"></path>
              <path class="st0" d="M257,28.5c-8,0-11.4,4-11.4,13.4c0,8.7,1.9,14,11.4,14c9.5,0,11.4-5.4,11.4-14C268.4,32.5,265,28.5,257,28.5z
                   M257,32.8c4.9,0,6.5,2.1,6.5,9.1c0,7.3-0.9,9.7-6.5,9.7c-5.5,0-6.5-2.5-6.5-9.7C250.6,35,252.1,32.8,257,32.8z"></path>
              <path class="st0" d="M288,28.5c-2.9,0-6,1.3-7.4,2V29h-4.8v26.4h4.8V34.6c0.9-0.4,3.7-1.7,6.7-1.7c4,0,5,1.6,5,8.7v13.8h4.8V41.5
                  C297.1,32.7,295.8,28.5,288,28.5z"></path>
          </g>
          <g>
              <g>
                  <path class="st1" d="M0.3,55.8c0.2,0.2,0.5,0.3,0.7,0.3h62.7c0.3,0,0.5-0.1,0.7-0.3L32.5,27.9L0.3,55.8z"></path>
                  <path class="st2" d="M64.9,55V2c0-0.9-1.1-1.4-1.8-0.8L32.8,27.6l-0.3,0.3l32.1,27.9C64.8,55.6,64.9,55.3,64.9,55z"></path>
                  <path class="st3" d="M32.1,27.6L1.8,1.2C1.1,0.6,0,1.1,0,2v52.6V55c0,0.3,0.1,0.6,0.3,0.8l32.1-27.9L32.1,27.6z"></path>
              </g>
          </g>
          <g>
              <path class="st3" d="M326.2,28.9c-1.3-0.2-3.9-0.6-5.8-0.6c-7.7,0-11.2,4.3-11.2,14c0,6.7,1.2,13.6,9.7,13.6c3,0,5.9-1.3,7.3-1.9
                  v1.4h4.8V17.7h-4.8V28.9z M326.2,49.8c-0.9,0.4-3.9,1.7-6.8,1.7c-2.7,0-5.2-1.1-5.2-9.2c0-7,1.8-9.7,6.4-9.7c1.8,0,4.4,0.4,5.6,0.5
                  V49.8z"></path>
              <rect x="337.9" y="18.7" class="st3" width="4.8" height="5.4"></rect>
              <rect x="337.9" y="28.9" class="st3" width="4.8" height="26.5"></rect>
              <path class="st3" d="M359.3,39.7c-5.5-0.9-6.2-1.5-6.2-3.5c0-2.3,1.6-3.4,5.1-3.4c3.2,0,8.8,0.8,8.9,0.8l0.6,0.1l0.1-4.3l-0.4-0.1
                  c-0.2,0-5.5-1-9.3-1c-6.2,0-9.7,2.9-9.7,8c0,5.7,3.5,6.7,9,7.6c5.7,0.9,6.5,1.5,6.5,3.7c0,2.9-1.6,3.9-5.9,3.9
                  c-2.5,0-8.3-0.9-8.4-0.9l-0.5-0.1l-0.3,4.3l0.4,0.1c0.2,0,5.8,1,9.1,1c7.1,0,10.4-2.7,10.4-8.5C368.5,42.1,365.7,40.7,359.3,39.7z"></path>
              <path class="st3" d="M390.7,51c0,0-4.1,0.5-6,0.5c-6,0-7-2.5-7-9.8c0-6.8,1.6-8.9,7-8.9c1.9,0,5.9,0.5,6,0.5l0.5,0.1l0.2-4.1
                  l-0.4-0.1c-0.2,0-4.7-0.8-7-0.8c-7.9,0-11.1,3.9-11.1,13.3c0,10.6,2.8,14.2,11,14.2c2.4,0,7-0.7,7.2-0.7l0.4-0.1l-0.2-4.2L390.7,51
                  z"></path>
              <path class="st3" d="M406.7,28.4c-8,0-11.4,4-11.4,13.5c0,8.7,1.9,14.1,11.4,14.1c9.5,0,11.4-5.4,11.4-14.1
                  C418.1,32.4,414.7,28.4,406.7,28.4z M406.7,32.7c5,0,6.5,2.1,6.5,9.2c0,7.3-0.9,9.8-6.5,9.8c-5.5,0-6.5-2.6-6.5-9.8
                  C400.2,34.8,401.7,32.7,406.7,32.7z"></path>
              <polygon class="st3" points="433,51.1 431.9,51.1 425.9,28.9 420.8,28.9 428.3,55.4 436.7,55.4 444.2,28.9 439.2,28.9 	"></polygon>
              <path class="st3" d="M458,28.4c-7.4,0-11.2,4.7-11.2,13.9c0,9.6,3.2,13.6,10.6,13.6c4.1,0,10-0.8,10-0.8l0.4-0.1l-0.1-4l-0.5,0
                  c-0.1,0-5.6,0.5-9.4,0.5c-4.3,0-6.1-2.1-6.2-7.3h16.8l0.2-3.4C468.8,32.4,465.3,28.4,458,28.4z M458,32.6c3.6,0,5.8,1.3,5.9,7.6
                  h-12.3C451.9,34.9,453.8,32.6,458,32.6z"></path>
              <path class="st3" d="M479.1,31.9v-3.1h-4.8v26.5h4.8V36.5c1-0.5,4.9-2.5,8.9-3.3l0.4-0.1v-4.9l-0.6,0.1
                  C484,29.1,480.6,31,479.1,31.9z"></path>
              <polygon class="st3" points="508.5,28.9 502.1,51.1 501.2,51.1 494.8,28.9 489.9,28.9 497.4,55.4 500.9,55.4 497.6,66.8
                  502.5,66.8 513.4,28.9 	"></polygon>
          </g>
          </svg> -->
      </div>

      <!-- login form -->
      <div class="ddp-form-login">
        <!-- ID 입력 -->
        <div class="ddp-form-input ddp-ui-input-form" [ngClass]="{'ddp-type-error': loginFailMsg}" style="padding-bottom:0px;">
          <label class="ddp-label-type">{{'msg.comm.usr.name.title' | translate}}</label>
          <div class="ddp-input-check">
            <span class="ddp-input-type">
              <input type="text" [(ngModel)]="user.username" placeholder="{{'msg.comm.usr.name.title.ph' | translate}}"
                     (focus)="loginFailMsg='';" style="border-bottom:none;"/>
            </span>
            <em class="ddp-icon-error" (click)="user.username='';loginFailMsg='';" *ngIf="loginFailMsg"></em>
          </div>
        </div>
        <!-- // ID 입력 -->

        <!-- Password 입력 -->
        <div class="ddp-form-input ddp-ui-input-form" [ngClass]="{'ddp-type-error': loginFailMsg}" style="padding-bottom:0px;">
          <label class="ddp-label-type">{{'msg.comm.usr.pw.title' | translate}}</label>
          <div class="ddp-input-check">
            <span class="ddp-input-type">
              <input type="password" placeholder="{{'msg.comm.usr.pw.title.ph' | translate}}"
                     [(ngModel)]="user.password" (keyup)="$event.keyCode == 13 ? login() : null;"
                     (focus)="loginFailMsg='';" style="border-bottom:none;" />
            </span>
            <em class="ddp-icon-error" (click)="user.password='';loginFailMsg='';" *ngIf="loginFailMsg"></em>
          </div>
          <!-- error 메시지 -->
          <span class="ddp-ui-error" style="bottom:-45px;" *ngIf="loginFailMsg">{{ loginFailMsg }}</span>
          <!-- //error 메시지 -->
        </div>
        <!-- // Password 입력 -->

        <!-- option -->
        <div class="ddp-ui-login-option" style="margin-top: 55px;">
          <div class="ddp-wrap-input-checkbox">
            <input type="checkbox" id="ID_REMEMBER" [(ngModel)]="isRemember"/>
            <i></i>
            <label class="ddp-txt-option" for="ID_REMEMBER">{{'msg.comm.usr.login.remember.id' | translate}}</label>
          </div>
        </div>
        <!--// option -->

        <!-- button -->
        <div class="ddp-ui-login-buttons">
          <a href="javascript:" class="ddp-btn" (click)="login()">{{'msg.comm.usr.login' | translate}}</a>
        </div>
        <!-- //button -->

        <div class="ddp-help">
          <a href="javascript:" class="ddp-link-search" (click)="resetPassword()">{{'msg.comm.usr.login.find.passwd' | translate}}</a>
          <a href="javascript:" class="ddp-link-sign" (click)="join()">{{'msg.comm.usr.login.join' | translate}}</a>
        </div>

      </div>
      <!-- //login form -->
    </div>

    <!-- footer -->
    <div class="ddp-layout-footer">
      <div class="ddp-ui-footer" >
        <!-- <ul class="ddp-list-footer">
          <li (click)="isShowTerms=true"><a href="javascript:">{{'msg.comm.ui.site.access' | translate}}</a></li>
        </ul> -->
        <!-- <span class="ddp-ui-copy">{{'msg.comm.ui.copyright' | translate}}</span> -->
      </div>
    </div>
    <!-- // footer -->

  </div>
  <!-- //login -->

</div>

<app-join (joinComplete)="joinComplete($event)"></app-join>
<!-- 확인 팝업창 -->
<app-confirm-small-modal></app-confirm-small-modal>
<!-- //확인 팝업창 -->
<!-- 비밀번호 변경 -->
<app-reset-password></app-reset-password>
<!-- //비밀번호 변경 -->
<!-- popup wrap -->
<app-eng-policy *ngIf="isShowTerms && translateService.getBrowserLang() == 'en'" (closeEvent)="isShowTerms=false"></app-eng-policy>
<app-kor-policy *ngIf="isShowTerms && translateService.getBrowserLang() == 'ko'" (closeEvent)="isShowTerms=false"></app-kor-policy>
<!-- //popup wrap -->
